{% extends "shop/base.html" %}
{% load i18n %}

{% block navtitle %}{% trans "Registration" %}{% endblock %}

{% block contentwraper %}
<p>{% trans "Please Enter Your Account Information" %}</p>

<form class="base_form" method="post" action=".">{% csrf_token %}
    {{ form.next }}
    <div class="fieldblock complex">
        <div class="field odd">
            {{ form.first_name.label_tag }}
            {{ form.first_name }}
            {% if form.first_name.errors %}
                <span class='error'>{{ form.first_name.errors|join:", " }}</span>
            {% endif %}
        </div>
        <div class="field">
            {{ form.email.label_tag }}
            {{ form.email }}
            {% if form.email.errors %}
                <span class='error'>{{ form.email.errors|join:", " }}</span>
            {% endif %}
        </div>
    </div>
    <div class="fieldblock complex">
        <div class="field odd">
            {{ form.password1.label_tag }}
            {{ form.password1 }}
            {% if form.password1.errors %}
                <span class='error'>{{ form.password1.errors|join:", " }}</span>
            {% endif %}
        </div>
        <div class="field">
            {{ form.password2.label_tag }}
            {{ form.password2 }}
            {% if form.password2.errors %}
                <span class='error'>{{ form.password2.errors|join:", " }}</span>
            {% endif %}
        </div>
        <div class="field inline odd">
            {{ form.newsletter }}
            {{ form.newsletter.label_tag }}
            {% if form.newsletter.errors %}
                <span class='error'>{{ form.newsletter.errors|join:", " }}</span>
            {% endif %}
        </div>
    </div>
    <div class='controlset'>
        <a class='btn_lightred' href='#' onclick='jQuery(this).parents("form:first").trigger("submit");return false;'>
            <span>
              {% trans "Create Account" %}
            </span>
        </a>
    </div>
</form>



{% endblock %}
