{% extends "shop/base.html" %}
{% load i18n %}
{% load satchmo_currency %}
{% load satchmo_order %}

{% block title %}{{ block.super }}{% trans "Checkout" %}{% endblock %}
{% block navtitle %}{% trans "Checkout" %}{% endblock %}

{% block contentwraper %}








            <div class="basket_msg">Пожалуйста, проверьте следующую информацию перед подверждением заказа</div>

{% block order_details %}
    {% order_details order default_view_tax %}
{% endblock %}




{% block error_processing %}
{% if errors %}
    <h3>{% block errorheader %}{% trans "The following error was returned while trying to process your payment. Please correct and resubmit." %}{% endblock %}</h3>
    {{ errors }}
{% endif %}
{% endblock %}

{% block payment_form %}
{# override with any payment-module specific needs #}
<form class="base_form" method="post" action=".">{% csrf_token %}
<input type="hidden" name="Process" value="True">
                <div class="controlset">
                    <a href="#" onclick='jQuery(this).parents("form:first").trigger("submit");return false;' class="btn_lightred">
                        <span>{% trans "Purchase Items" %}</span>
                    </a>
                </div>
</form>
{% endblock %}

{% endblock contentwraper %}

{% block subnav %}
                <div class="tab_long tab_activ first_tab_activ">
                    <div class="tab_activ_sh1">
                        <div class="tab_activ_sh2">
                            <h1 class="h1_h fl_l">Подтверждение заказа</h1>
                            <div class="back_heading">
                                <a class="has_icon_back" href="{% url satchmo_cart %}"><i class="icon_back"></i>Вернуться в корзину</a>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}
