@charset "utf-8";

/* -------------------- BASE -------------------- */
/* ----- reset ----- */
/* В ресете не упоминаются div, span и br */
html, body, iframe, address, blockquote, p, pre, h1, h2, h3, h4, h5, h6, hr,        /* блочные элементы кроме div */
dd, dl, dt, ul, ol, li,                                                             /* списки */
a, abbr, acronym, b, cite, code, del, dfn, em, i,                                   /* строчные элементы кроме span */
ins, kbd, q, samp, strong, tt, var,                                                 /* строчные элементы */
img, object,                                                                        /* картинки и объекты */
caption, table, tbody, td, tfoot, th, thead, tr,                                    /* табличные элементы */
form, fieldset, legend, label,                                                      /* элементы формы кроме контролов */
u, font, s, center, dir, menu, strike, xmp                                          /* устаревшие элементы */
{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    text-indent: 0;
    font-family: inherit;
    font-size: 1em;
}
/* ----- /reset ----- */

/* ----- common ----- */
html, body  {
    background: #fff url(/static/images/body_bg.jpg) repeat-x ;
    font-family: Arial, sans-serif;
    font-size: 100.01%;
    color: #171717;
}
html {
    height: 100%;
}
body {
    font-size: 0.875em; /* =14px - базовый размер шрифта */
    min-height: 100%;
    min-width: 978px;
    position: relative;
    z-index: 1;
}
p {
    padding-bottom: 10px;
}
img, a img {
    border: 0;
}
code, kbd, pre, samp, tt, var {
    font-family: "Courier New", Courier, monospace;
    font-size: 1em; /* =14px */
}
pre {
    margin: 0 0 1em 0;
    white-space: pre;
}
hr {
    height: 1px;
    margin: 1em 0;
    padding: 0;
    color: gray;
    background: gray;
    border: 0;
}
q:before, q:after,
blockquote:before, blockquote:after {
    content: "";
}
/* ----- /common ----- */

/* ----- links ----- */
a {
    color: #1c67a8;
    text-decoration: none;
}

a:hover { text-decoration: underline;  outline: 0; }
/* ----- /links ----- */

/* ----- lists ----- */
ul, ol, dl {
    margin: 0 0 25px 0;
}
ul, ol {
    padding: 0 0 0 2em;
    list-style-position: outside;
}
ol {
    list-style-type: decimal;
}
.reset_list{
    padding: 0;
    margin: 0;
    list-style: none;
}
    .reset_list li{
        padding: 0;
        margin: 0;
    }
/* ----- /lists ----- */

/* ----- tables ----- */
table {
    border-collapse: separate;
    border-spacing: 0;
    vertical-align: top;
    font-family: Arial, sans-serif;
    font-size: 1em; /* =14px */
}
caption {
    padding-bottom: 0.5em;
    text-align: left;
}
th {
    vertical-align: top;
    text-align: left;
    font-weight: bold;
}
td {
    vertical-align: top;
}
tfoot {
    font-weight: bold;
}
/* ----- /tables ----- */

/* ----- forms ----- */
fieldset {
    padding: 12px;
    border: 1px solid gray;
}
input, textarea, select, button {
    height: auto;
    margin: 0;
    vertical-align: middle;
    line-height: normal;
    font-family: Arial, sans-serif;
    font-size: 0.929em; /* =13px */
    color: black;
}
input.text, textarea, select {
    border: 1px solid gray;
    background: white;
}
input.text, textarea {
    padding: 3px;
}
textarea {
    vertical-align: top;
}
select {
    padding: 2px;
}
select option {
    background: white;
}
optgroup {
    color: black;
    background: white;
}
optgroup option {
    padding-left: 22px;
}
.input{
    margin-right: 12px;
    background: url(/static/images/input_bg.png) no-repeat;
}
.input2 {
    background: url(/static/images/input_bg.png) 100% 0 no-repeat;
    position: relative;
    left: 12px;
    height: 24px;
    padding-right: 12px;
}
.input2 input{
    width: 100%;
    border: none 0;
    padding: 0;
    margin: 0;
    font-size: 14px;
    margin-top: 4px;
}
.input_2{
    background: url(/static/images/input_bg2.gif) no-repeat;
    padding-left: 5px;
}
    .input_2_2{
        background: url(/static/images/input_bg2.gif) 100% 0 no-repeat;
        height: 24px;
        padding-right: 5px;
    }
    .input_2_2 input{
        border: none 0;
        width: 100%;
        margin-top: 3px;
        font-size: 12px;
    }
.textarea_top, .textarea_top *, .textarea_bott, .textarea_bott *{
    background: url(/static/images/textarea_bg.png) no-repeat;
    height: 4px;
}
        .textarea_top div {
           background-position: 100% -4px;
            padding: 0 4px;
        }
        .textarea_top div span{
            display: block;
            background-position: 0 -8px;
            background-repeat: repeat-x;
        }
    .textarea_bott {
           background-position: 0 -16px;
        }
    .textarea_bott div {
        background-position: 100% -12px;
        padding: 0 4px;
        }
        .textarea_bott div span{
            display: block;
            background-position: 0 -20px;
            background-repeat: repeat-x;
        }
.textarea_body{
    background: url(/static/images/textarea_body_bg.gif) repeat-y;
}
.textarea_body2{
    background: url(/static/images/textarea_body_bg.gif) 100% 0 repeat-y;
    padding: 0 4px;
}
.textarea_wrap{
    background-color:#fff;
}
/* ----- /forms ----- */

/* ----- columns ----- */
.colset {
    clear: both;
    *zoom: 1;
}
    .colset:after {
        clear: both;
        content: ".";
        display: block;
        visibility: hidden;
        height: 0;
        line-height: 0;
        font-size: 0;
    }
.col {
    float: left;
    width: 100%;
}
.last_col {
    margin-right: 0;
}
/* 1 column */
.colset_1 .col { width: 100% !important; }
/* 2 columns */
.colset_2 .col1 {
    float: left;
    width: 638px;
}
.colset_2 .col2 {
    float: right;
    width: 306px;
}

.colset_22{
}
    .colset_22 .col1{
        float: left;
        padding-right: 10px;
        width: 313px;
    }
    .colset_22 .col2{
        float: right;
        width: 313px;
    }
.cols_cont{
    background: url(/static/images/cols_cont.gif) repeat-y;
}

/* ----- /columns ----- */
/* -------------------- /BASE -------------------- */

/* -------------------- COMMON -------------------- */
/* ----- clearfix ----- */
.clearfix:after {
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    content: ".";
    line-height: 0;
    font-size: 0;
}
.clearfix {
    *zoom: 1; /* IE7 */
    _height: 1%; /* IE6 */
}

/* ----- /clearfix ----- */

/* ----- icons ----- */
/* icon help */
.icon_help {
    float: right;
    display: block;
    width: 20px;
    height: 20px;
    overflow: hidden;
    background: url(/static/images/icon_help.png) 0 0 no-repeat;
}
a:hover .icon_help, .icon_help:hover {
    background-position: 0 -20px;
}
/* icon ahead */
.icon_ahead {
    display: inline-block;
    width: 14px;
    height: 14px;
    overflow: hidden;
    vertical-align: middle;
    background: url(/static/images/icon_ahead.png) 0 0 no-repeat;
}
a:hover .icon_ahead, .icon_ahead:hover {
    background-position: 0 -14px;    
}
.has_icon_ahead {
    padding-left: 20px;
}
.has_icon_ahead .icon_ahead {
    position: relative;
    top: 0.2em;
    left: -20px;
    vertical-align: top;
    margin-right: -14px;
}
/* icon back */
.icon_back {
    display: inline-block;
    width: 3px;
    height: 6px;
    overflow: hidden;
    vertical-align: middle;
    background: url(/static/images/icon_back.gif) 0 0 no-repeat;
}
a:hover .icon_back, .icon_back:hover {
    background-position: 0 -6px;
}
.has_icon_back {
    padding-left: 7px;
}
.has_icon_back .icon_back {
    position: relative;
    top: 0.4em;
    left: -7px;
    vertical-align: top;
    margin-right: -3px;
}
/* icon close */
.icon_close {
    display: inline-block;
    width: 12px;
    height: 14px;
    overflow: hidden;
    vertical-align: middle;
    background: url(/static/images/icon_close.png) 0 0 no-repeat;
}
/* icon basket */
.icon_basket {
    display: inline-block;
    width: 17px;
    height: 17px;
    overflow: hidden;
    vertical-align: middle;
    background: url(/static/images/icon_basket.gif) 0 0 no-repeat;
}
.has_icon_basket {
    padding-left: 26px;
}
.has_icon_basket .icon_basket {
    position: relative;    
    left: -26px;
    vertical-align: top;
    margin-right: -17px;
}
/* icon expand */
.icon_expand {
    display: inline-block;
    width: 5px;
    height: 4px;
    overflow: hidden;
    vertical-align: middle;
    background: url(/static/images/icon_expand.png) 0 0 no-repeat;
}
/* ----- /icons ----- */

/* ----- buttons ----- */
.btn_red,
.btn_red_l,
.btn_lightred {
    display: inline-block;
    margin-right: 3px;
    background: url(/static/images/btn_red.png) no-repeat;
    color: #9f1918;
    text-decoration: none;
}
.btn_red span,
.btn_red_l span,
.btn_lightred span {
    display: inline-block;
    background: url(/static/images/btn_red.png) 100% 0 no-repeat;
    float: left;
    position: relative;
    left: 3px;
    height: 23px;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.5;
    padding: 0 17px 0 14px;
}
.btn_red span b,
.btn_red_l span b {
    position: absolute;
    top: 1px;
    left: 13px;
    line-height: 1.5;
    color: #fff;
    font-weight: normal;
}
.btn_red:hover {
    background-position: 0 -23px;
    text-decoration: none;
}
.btn_red:hover span{
    background-position: 100% -23px;
}
/* large red button */
.btn_red_l {
    background: url(/static/images/btn_red_l.png) no-repeat;
    font-weight: bold;
}
.btn_red_l span {
    background: url(/static/images/btn_red_l.png) 100% 0 no-repeat;
    height: 27px;
    font-size: 17px;
}
.btn_red_l span b {
    font-weight: bold;
}
.btn_red_l:hover{
    background-position: 0 -27px;
    text-decoration: none;
}
.btn_red_l:hover span{
    background-position: 100% -27px;
}
/* light red button */
.btn_lightred {
    background: url(/static/images/btn_lightred.png) no-repeat;
    color: #fff;
}
.btn_lightred span {
    height: 19px;
    padding: 4px 8px 0 5px;
    background: url(/static/images/btn_lightred.png) 100% 0 no-repeat;    
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
}
.btn_lightred:hover{
    background-position: 0 -23px;
    text-decoration: none;
}
.btn_lightred:hover span{
    background-position: 100% -23px;
}
/* ----- /buttons ----- */

/* ----- overboxes ----- */
/* overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: black;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=73);
    -moz-opacity: 0.73;
    -khtml-opacity: 0.73;
    opacity: 0.73;
}
/* overbox */
.overbox {
    position: absolute;
    top: 115px;
    left: 0;
    width: 100%;
    z-index: 1001;
}
.overbox_toolbar {
    width: 978px;
    margin: 0 auto;
    font-size: 15px;
    color: white;
}
.overbox_toolbar a,
.overbox_toolbar a:hover {
    text-decoration: none;
    color: white;
}
.overbox_toolbar .btn_close {
    float: right;
    height: 17px;
    padding: 3px 6px 4px 5px;
    background: #323232 url(/static/images/overbox_btn_close_bg.gif) 0 0 repeat-x;
    text-transform: lowercase;
}
.overbox_toolbar .btn_close:hover {
    background-position: 0 -24px;
    background-color: #860c0b;
}
.overbox_toolbar .btn_close .icon_close {
    position: relative;
    top: 1px;
    left: 3px;
    vertical-align: baseline;
    *vertical-align: middle;
    *top: 0;
}
.overbox_content {
    width: 976px;    
    margin: 0 auto;
    background: white;
    border: 1px solid #cccccc;
    -moz-box-shadow: 0 0 24px 0 #202020;
    -webkit-box-shadow: 0 0 24px 0 #202020;
    box-shadow: 0 0 24px 0 #202020;
}
.overbox_header {
    background: #3e3e3e url(/static/images/overbox_header_bg.gif) 0 100% repeat-x;
    color: white;
}
.overbox_header .btn_close {
    float: right;
    margin: 2px 5px 0 0;
}
.overbox_header .btn_close .icon_close {
    width: 26px;
    height: 26px;
    background-position: -12px 0;
}
.overbox_header .btn_close:hover .icon_close {
    background-position: -12px -26px;
}
.overbox_name {
    float: left;
    padding: 2px 10px 5px 15px;
    filter:progid:DXImageTransform.Microsoft.Shadow(Color=#000000, Direction=0, Strength=1);
    -ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Color=#000000, Direction=0, Strength=1)";
    -webkit-text-shadow: black 0 -1px;
    -moz-text-shadow: black 0 -1px;
    text-shadow: black 0 -1px;
    font-size: 24px;
    font-weight: normal;
}
.overbox_text {
    padding: 16px 18px;
    font-size: 13px;
    color: #434343;
}
.overbox .wraper_tab {
    margin: 0;
}
.overbox .basket_count a {
    color: #2c2929;
}
.overbox .basket_count .icon_basket {
    background-position: 0 -17px;
}
.overbox .basket_count a:hover .icon_basket {
    background-position: 0 0;
}
/* message overbox */
.msg_overbox .overbox_content {
    width: 640px;
    border: 1px solid #d5cfcf;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.msg_overbox .overbox_header {
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
}
/* ----- /overboxes ----- */

/* ----- misc ----- */
.hidden {
    display: none !important;
}
.clear{
    clear: both;
    height: 0;
    overflow: hidden;
}
.fl_l{float: left !important;}
.fl_r{float: right !important;}
.fl_100{float: left; width: 100%;}
.img_r{
    float: left;
    margin: 0 18px 18px 0;
}
.read_more{
    text-align: right;
    padding: 12px 1px;
}
/* ----- /misc ----- */
/* -------------------- /COMMON -------------------- */

/* -------------------- LAYOUT -------------------- */
.wraper{
    width: 978px;
    margin: 0 auto;
}
.wraper_header{
    background: #d0d0d0 url(/static/images/header_bg.jpg) repeat-x;
    border-bottom: 1px solid #bbbbbb;
}

.header_tab{
    width: 100%;
    border-collapse: collapse;
}
.hader_tab_menu{
    vertical-align: middle;
    padding: 12px 0 9px 0;
}
.header_menu{
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
    .header_menu li{
        float:left;
        font-size: 12px;
        padding: 0 14px 0 14px;
        border-left: 1px solid #afafaf;
    }
    .header_menu li.first{
        border-left: none 0;
    }
        .header_menu li a{
            color: #212121;
            text-decoration: none;
        }
        .header_menu li a:hover{
            color: #000;
        }
.header_tab_reg{
    width: 210px;
    padding: 6px 0 0 0;
    vertical-align: bottom;
}
.header_bl_reg_top{
    background: url(/static/images/header_bl_reg_top.gif) no-repeat;
}
    .header_bl_reg_top div{
        background: url(/static/images/header_bl_reg_top.gif) 100% -3px no-repeat;
        padding: 0 3px;
    }
        .header_bl_reg_top div span{
            display: block;
            border-top: 1px solid #acacac;
            height: 2px;
            background-color: #ededed;
        }
.header_bl_reg{
    min-height: 23px;
    background-color: #ededed;
    margin-bottom: -1px;
    padding-top: 5px;
    position: relative;
    border-left: 1px solid #acacac;
    border-right: 1px solid #acacac;
    text-align: center;
}
.header_bl_reg .btn_red {
    vertical-align: bottom;
}
.header_bl_reg .user_greeting {
    padding: 0 4px;
    font-size: 12px;
}
.header_bl_reg .user_greeting a {
    text-decoration: none;
    color: #a32f2f;
}
.header_bl_reg .user_greeting a:hover {
    text-decoration: none;
    color: #0f5fa4;
}
.header_bl_reg .user_name {
    color: #a32f2f;
}
.wraper_top{
    margin-top: 15px;
    background: #000 url(/static/images/wraper_top.jpg) repeat-x;
    position: relative;
    z-index: 102;
    height: 73px;
    color: #fff;
}
.w_t_l, .w_t_r, .w_t_l_b, .w_t_r_b{
    background: url(/static/images/wraper_top_curve.gif) no-repeat;
    position: absolute;
    width: 2px;
    height: 2px;
}
    .w_t_l{
        left: 0;
        top: 0;
    }
    .w_t_r{
        background-position: 0 -2px;
        right: 0;
        top: 0;
    }
    .w_t_r_b{
        background-position: 0 -4px;
        right: 0;
        bottom: 0;
    }
    .w_t_l_b{
        background-position: 0 -6px;
        left: 0;
        bottom: 0;
    }
.wraper_top_shadow{
    background: url(/static/images/wraper_top_shadow.png) no-repeat;
    margin: -16px -4px 0 -5px;
}
.wraper_top_shadow div{
    background: url(/static/images/wraper_top_shadow.png) 100% -19px no-repeat;
    padding: 0 13px;
}
.wraper_top_shadow div span{
    background: url(/static/images/wraper_top_shadow.png) 0 -38px repeat-x;
    display: block;
    height: 19px;
}

.wraper_top_bl{
    float: left;
    width: 764px;
}
.logo{
    float: left;
    padding: 18px 31px 0 12px;
}
.logo a {
    display: block;
    position: relative;
    width: 102px;
    height: 39px;
    overflow: hidden;
}
.logo a i {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 102px;
    height: 39px;
    background: url(/static/images/logo_bg.jpg) 0 0 no-repeat;
}
.logo a:hover i {
    background-position: 0 -39px;
}
.top_telephone{
    float: left;
    width: 172px;
    padding-top: 20px;
}
.telephone_number{
    font-size: 22px;
    font-weight: bold;
}
.time_work{
    position: relative;
    top: -2px;
    font-size: 12px;
    color: #bab9b9;
}

/* ----- Dop menu ----- */
.dop_menu{
    float: left;
    width: 432px;
    position: relative;
    z-index: 200;
}
.menu_top{
    float: left;
    width: 100%;
    margin-top: 16px;
}
.menu_top ul, .m_w{
    display: none;
}
    .menu_top .level_top{
        float: left;
        width: 107px;
        min-height: 46px;
        border-left: 1px solid #535353;
    }
    body.category_concerts .category_concerts,
    body.category_cinema .category_cinema,
    body.category_sport .category_sport,
    body.category_theatre .category_theatre,
    .menu_top .active{
        background:#e9e9e9 url(/static/images/dop_menu_active.jpg) repeat-x;
        margin-bottom: -12px;
        padding-bottom: 12px;
        border-left: none 0;
        padding-left: 1px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-top: 2px solid #fff;
        position: relative;
        z-index: 6;

    }
    body.category_concerts .category_concerts a,
    body.category_cinema .category_cinema a,
    body.category_sport .category_sport a,
    body.category_theatre .category_theatre a,
    .menu_top .active a{
        color: #070707;
    }

    .menu_top .hover, .menu_top li.level_top:hover{
        position: relative;
        z-index: 7;
    }
        .menu_top .level_top a{
            display: block;
            padding-left: 10px;
            font-size: 17px;
            line-height: 4.2;
            height: 46px;
            color: #fff;
            text-decoration: none !important;

        }
    body.category_concerts .category_concerts a,
    body.category_cinema .category_cinema a,
    body.category_sport .category_sport a,
    body.category_theatre .category_theatre a,
         .menu_top .active a{
                color: #070707;
            }
        .menu_top .hover a, .menu_top li.level_top:hover a {
                position: relative;
                z-index: 10;
                color: #fff;
            }
.menu_top a{
    color: #f4f4f4;
}

    .menu_top .hover ul, .menu_top li.level_top:hover ul{
        display: block;
        position: absolute;
        z-index: 9;
        top: -3px;
        left: -1px;
        width: 120px;
        margin: 0;
        padding: 64px 0 16px 0;
        list-style: none;
        background:#616060 url(/static/images/dop_menu_bg.jpg) repeat-x;
        border-radius: 5px;
        border-top: 2px solid #696868;
        border-bottom: 2px solid #373737;

    }
        .menu_top .hover ul li, .menu_top li.level_top:hover ul li{
            padding: 7px 8px;
            border-bottom: 1px solid #626161;
        }
            .menu_top .hover ul li.last_d, .menu_top li.level_top:hover ul li.last_d{
                border-bottom: none 0;
            }
            .menu_top .hover ul li a, .menu_top li.level_top:hover ul li a{
                height: auto;
                padding: 0;
                font-size: 12px;
                line-height: 1.0;
            }

/* ----- /Dop menu ----- */

/* ----- Carusel ----- */
.wraper_visual_list{
    margin-bottom: 12px;
    position: relative;
    z-index: 20;
}
.wraper_visual_list2{
    overflow: hidden;
    position: relative;
}
			.list_carousel ul {
				margin: 0;
				padding: 0;
				list-style: none;
                width: 100%;
                height: 298px;
                overflow: hidden;

			}
			.list_carousel li {
				width: 637px;
				height: 298px;
				float: left;
                position: relative;
			}


			
			.timer {
				background-color: #999;
				height: 6px;
				width: 0px;
			}

.visual_list_footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: url(/static/images/transparent_bg.png);
    padding: 15px 0 20px 0;
    color: #fff;
}
.visual_list_footer a {
    text-decoration: none;
    color: #f14743;
}
.visual_list_footer a:hover {
    text-decoration: underline;
    color: #f14743;
}
.visual_list_footer2{
    padding: 0 125px 0 12px;
}
.visual_list_footer h3{
    font-size: 28px;
    font-weight: normal;
    padding-bottom: 4px;
}
.visual_list_footer h3 a {
    text-decoration: none;
    color: #fff;
}
.visual_list_footer h3 a:hover {
    text-decoration: none;
    color: #f14743;
}
.f_date{
    color: #f14743;
}
.visual_list_pager{
    position: absolute;
    z-index: 11;
    right:15px;
    bottom: 33px;
    font-size: 14px;
    color: #fff;
}
.visual_list_pager li{
    float: left;
    padding-left: 5px;    
}
.visual_list_pager li a {
    color: #fff;
}
.visual_list_pager li a.prev,
.visual_list_pager li a.next {
    display: block;
    float: left;
    width: 8px;
    height: 16px;    
    overflow: hidden;
    background: url(/static/images/visual_list_pager_arrows.gif) 0 0 no-repeat;
    text-indent: 8px;
    outline: 0;
}
.visual_list_pager li a.prev {
    background-position: 0 0;
    margin-right: 5px;
}
.visual_list_pager li a.next {
    margin-left: 5px;
    background-position: -8px 0;
}
.visual_list_pager li a.prev:hover {
    background-position: 0 -16px;    
}
.visual_list_pager li a.next:hover {
    background-position: -8px -16px;
}
/* ----- /Carusel ----- */

/* ----- search block ----- */
.search_top{
    float: right;
    width: 207px;
}
.search_top .form_search{
    margin: 0;
    padding: 34px 12px 0 0;
}
.search_bg{
    background: url(/static/images/search_bg.png) 100% 0 no-repeat;
    margin-left: 10px;
}
.search_bg2{
    background: url(/static/images/search_bg.png) no-repeat;
    height: 24px;
    position: relative;
    left: -10px;
}
.search_prop{
    padding-left: 18px;
}
.input_search{
    width: 146px;
    margin-top: 4px;
    color: #6c6b6b;
    font-size: 12px;
    border: none 0;
}
.submit_search{
    font-size: 0;
    background: transparent url(/static/images/search_submit.gif) no-repeat;
    width: 17px;
    height: 16px;
    border: none 0;
    margin: 3px -6px 0 0;
    cursor: pointer;
}
/* ----- /search block ----- */
.main_content{
    margin-top: 11px;
    border: 1px solid #cccccc;
    background-color: #fff;
    padding: 0 12px;
    position: relative;
    z-index: 5;
}
.wrap_line{
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 18px;
}
/* feed pop */
.feed_pop {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 0 9px;    
}
.feed_pop_t {
    position: relative;    
    padding-top: 9px;
    background: url(/static/images/feed_pop_t_b.png) 0 -36px repeat-x;
}
.feed_pop_b {
    padding-bottom: 9px;
    background: url(/static/images/feed_pop_t_b.png) 0 100% repeat-x;
}
.feed_pop_tl,
.feed_pop_bl,
.feed_pop_tr,
.feed_pop_br {
    position: absolute;
    z-index: 1;
    left: -9px;
    width: 9px;
    height: 9px;
    overflow: hidden;
    background: url(/static/images/feed_pop_t_b.png) 0 0 no-repeat;
}
.feed_pop_tl,
.feed_pop_tr {
    top: 0;
}
.feed_pop_tr,
.feed_pop_br {
    left: 100%;
}
.feed_pop_bl {
    background-position: 0 -27px;
}
.feed_pop_tr {
    background-position: 0 -9px;
}
.feed_pop_br {
    background-position: 0 -18px;
}
.feed_pop_ml {
    margin-left: -9px;
    padding-left: 4px;
    background: url(/static/images/feed_pop_m.png) 0 0 repeat-y;
}
.feed_pop_mr {
    margin-right: -9px;
    padding-right: 4px;
    background: url(/static/images/feed_pop_m.png) 100% 0 repeat-y;
}
.feed_pop_content {
    min-width: 40px;
    min-height: 38px;
    padding: 1px 5px;
    background: #dddbdb url(/static/images/feed_pop_bg.png) 0 0 repeat-x;
}
/* /feed pop */
.feed li{
    float: left;
    width: 205px;
    margin-right: 10px;
    padding-bottom: 15px;
}
.feed li.first{
    clear: both;
}
.feed li.last{
    margin-right: 0;
}
.feed_img{
    width: 100%;
    height: 134px;
    overflow: hidden;
    margin-bottom: 14px;
    position: relative;
}
.feed_img_wrap{
    width: 100%;
    height: 100%;
}
.feed_img_wrap a{
    text-align: center;
    width: 100%;
    height: 100%;
}
.feed_tag{
    height: 23px;
    color: #9e9e9e;
    font-size: 12px;
}
.feed_tag a{
    text-decoration: none;
    color: #0f5fa4;
}
.feed_tag a:hover{
    text-decoration: none;
    color: #b43532;
}
.feed_date{
    font-size: 13px;
    color: #656565;
    height: 36px;
    position: relative;
}
.feed_date:hover .feed_date_pop{
    display: block;
}
.feed_date_cont{
    height: 36px;
    overflow: hidden;
}
    .feed_date p{
        padding-bottom: 2px;
    }
.feed_date p span{
    color: #9e9e9e;
}
.feed_date_pop{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffcc;
    display: none;
    max-height: 74px;
    overflow: auto;
}
.feed_txt{
    font-size: 14px;
    font-weight: bold;
    height: 36px;
    overflow: hidden;
}
.feed_txt a{
    color: #171717;
    text-decoration: none;
}
.feed_txt a:hover{
    color: #0f5fa4;
    text-decoration: none;
}
.feed_img:hover .feed_img_bl{
    display: block;
}
.feed_img_bl{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: url(/static/images/transparent_bg.png);
    display: none;
}
.feed_img_bl_txt{
    padding-top: 4px;
    color: #fff;
}
.feed_img_bl_txt a{
    display: block;
    padding: 2px 0 6px 14px;
    text-decoration: none;
    font-size: 12px;
    color: #f14743;
}
.feed_img_bl_txt .place_name {
    display: block;
}
.feed_img_bl_txt a .place_name {
    color: #fff;
}
.feed_price {
    position: relative;
    z-index: 1;
    float: left;
    margin-top: 10px;
    font-size: 14px;
    color: #a32f2f;
}
.feed_price_line {
    font-size: 14px;
    white-space: nowrap;
}
.feed_price .figure {
    font-size: 18px;
    font-style: normal;
}
.feed_price_cont {
    display: inline-block;
    margin-right: 3px;
    background: url(/static/images/feed_price_cont_bg.png) no-repeat;
    text-decoration: none;
}
.feed_price.multiple:hover .feed_price_cont {
    visibility: hidden;
}
.feed_price_cont span {
    display: inline-block;
    background: url(/static/images/feed_price_cont_bg.png) 100% 0 no-repeat;
    position: relative;
    left: 3px;
    height: 23px;
    cursor: pointer;
    font-size: 14px;    
    padding: 0 5px 0 2px;
}
.feed_price_cont .icon_expand {
    margin-left: 5px;
}
.feed_price_pop {
    display: none;
    top: -4px;
    left: -4px;
    cursor: pointer;
}
.feed_price:hover .feed_price_pop {
    display: block;
}
.feed_price_pop .feed_price_line {
    margin-bottom: 2px;
    padding: 0 5px 0 19px;    
}
.feed_price_pop .feed_price_line .note {
    display: -moz-inline-box;
    display: inline-block;
    width: 19px;
    margin-left: -19px;
}
.feed_price_pop .feed_price_line.first {
    position: relative;
    margin-top: -6px;
}
.feed_order {
    float: right;
    margin-top: 10px;
}
.events li {
    margin-bottom: 20px;
    padding-bottom: 13px;
    border-bottom: 1px solid #e8e8e8;
}
.heading_bg{
    background: #1a1a1a url(/static/images/heading_bg.jpg) repeat-x;
    position: relative;
    margin-bottom: 12px;
}
.heading_bg h2{
    color: #fffbfb;
    padding: 5px 0 7px 15px;
    font-weight: normal;
    font-size: 19px;
}
.h_t_l, .h_t_r, .h_b_l, .h_b_r{
    background: url(/static/images/heading_curve.gif) no-repeat;
    position: absolute;
    width: 3px;
    height: 3px;
}
.h_t_l{
    top: 0;
    left: 0;
}
.h_t_r{
    top: 0;
    right: 0;
    background-position: 0 -3px;
}
.h_b_r{
    bottom: 0;
    right: 0;
    background-position: 0 -6px;
}
.h_b_l{
    bottom: 0;
    left: 0;
    background-position: 0 -9px;
}

.feed_gray{
    background-color: #efefef;
    padding: 8px 4px 8px 7px;
}
.feed_list li{
    width: 100%;
    padding-bottom: 12px;
}
.feed_list_img{
    float:left;
    width: 85px;
    height: 61px;
    overflow: hidden;
    border: 1px solid #fff;
    margin-right: -87px;
    text-align: center;
}
.feed_list_img a{
    width: 100%;
    height: 100%;
    text-align: center;
}

.feed_list_txt{
    margin-left: 99px;
}
.feed_list_txt_tag{
    font-size: 12px;
    height: 25px;
    color: #9e9e9e;
}
.feed_list_txt_tag a{
    text-decoration: none;
    color: #0f5fa4;
}
.feed_list_txt_tag a:hover{
    text-decoration: none;
    color: #b43532;
}
.feed_list_txt_inf{
    font-size: 13px;
    font-weight: bold;
}
.feed_list_detail{
    color: #171717;
    text-decoration: none;
}
.feed_list_detail:hover{
    color: #0f5fa4;
    text-decoration: none;
}

.all_link{
    text-align: right;
    padding-bottom: 7px;
}
.all_link a{
    text-decoration: none;
    color: #586d80;
    font-size: 0.858em; /* 12px*/
}
.all_link a:hover{
    text-decoration: none;
    color: #0f5fa4;    
}
.wrap_line_bl{
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 20px;
}

/* ----- Curve ----- */
.curve_top{
    background: url(/static/images/curve.jpg) no-repeat;
}
    .curve_top div{
        background: url(/static/images/curve.jpg) 100% -2px no-repeat;
        padding: 0 2px;
    }
        .curve_top div span{
            display: block;
            border-top: 1px solid #dfe0e1;
            height: 1px;
        }
.curve_bott{
    background: url(/static/images/curve.jpg) 0 -6px no-repeat;
}
    .curve_bott div{
        background: url(/static/images/curve.jpg) 100% -4px no-repeat;
        padding: 0 2px;
    }
        .curve_bott div span{
            display: block;
            border-bottom: 1px solid #dfe0e1;
            height: 1px;
        }
.curve_body{
    border-left: 1px solid #dfe0e1;
    border-right: 1px solid #dfe0e1;
}
.curve_gray{
    background-color: #efefef;
}
/* curve large */
.curve_l_top,
.curve_l_top div,
.curve_l_bot,
.curve_l_bot div {    
    background: url(/static/images/curve_l.png) 0 0 no-repeat;
    line-height: 0;
    font-size: 0;
}
.curve_l_top div, 
.curve_l_bot div {
    background-position: 100% -4px;
    padding: 0 4px;
}
.curve_l_top div span, 
.curve_l_bot div span {
    display: block;
    height: 3px;
    background: #efefef;
    border-top: 1px solid #dfe0e1;
    overflow: hidden;
}
.curve_l_bot {
    background-position: 0 -12px;
}
.curve_l_bot div {
    background-position: 100% -8px;    
}
.curve_l_bot div span {
    border-top: 0;
    border-bottom: 1px solid #dfe0e1;
}
.curve_l_body {
    border-left: 1px solid #dfe0e1;
    border-right: 1px solid #dfe0e1;
    background: #efefef;
}
/* ----- /Curve ----- */

.selection_events{
    padding-bottom: 12px;
}
.selection_events_body{
    background-color: #efefef;
    padding: 8px 7px 12px 10px;
}
.heading_h2{
    font-size: 1em;
    padding-bottom: 13px;
    /*font-weight: normal;*/
    text-transform: uppercase;
    color: #2d2c2c;
}
    .heading_icon h2{
        float: left;
        width: 100%;
        margin-right: -45px;
    }
        .heading_icon h2 span{
            display: block;
            padding-right: 45px;
    }
.selection_events_form{
    padding: 0;
    margin: 0;
    width: 100%;
}
    .selection_events_form select{
        width: 100%;
        margin-bottom: 10px;
    }
.selection_events_submit{
    text-align: right;
    padding-top: 5px;
}
.tab_selection{
    width: 100%;
    border-collapse: collapse;
}
.tab_selection td{
    font-size: 0.858em;
    vertical-align: middle;
    padding-bottom: 10px;
}
.selection_name{
    width: 54px;
    color: #555;
}
.selection_from{
    color: #888;
    width: 20px;
}
.selection_input{
    width: 94px;
}
.selection_to{
    color: #888;
    text-align: center;
}
.icon_calendar{
    padding-top: 3px;
    margin-right: -25px;
    vertical-align: middle;
    cursor: pointer;
}
.input_calendar{
    vertical-align: middle;
    width: 55px !important;
    font-size: 10px !important;
}

.banner_right{
    background-color: #edeeee;
    padding: 7px;
    text-align: center;
    margin-bottom: 12px;
}
.banner_right_bl{
    display: -moz-inline-box;
	display:inline-block;
}

.subscription_bl{
    padding-bottom: 22px;
}

.subscription_bg{
    padding: 14px 7px 0 9px;
    background-color: #efefef;
}
.subscription_form{
    margin:0;
    padding: 20px 9px 20px 9px;
}
.subscription_input{
    float: left;
    width: 232px;
}
.subscription_submit{
    float: right;
    width: 43px;
    padding-right: 5px;
}
.about_us_txt{
    font-size: 1.143em; /* 16px*/
    color: #7b7b7b;
    padding-bottom: 14px;
}
.about_us_col1{
    float: left;
    width: 136px;
    color: #7b7b7b;
    font-size: 0.858em;
}
.about_as_show{
    padding-bottom: 22px;
}
.about_us_col2{
    float: right;
    width: 136px;
    color: #7b7b7b;
    font-size: 0.858em;
}
.wraper_tab{
    background-color: #f1f1f1;
    border-bottom: 1px solid #cccccc;
    margin: 0 -12px 17px -12px;
}
.wraper_tab a{
    color: #666666;
}
.wraper_tab a:hover {
    text-decoration: none;
    color: #ef332e;
}
.tab_activ{    
    border-right: 0 !important;
    background-color: #fff;
    margin-right: 1px;
    margin-bottom: -1px;
    padding: 0 0 1px 0 !important;
    font-weight: bold;
}
.tab_activ .tab_activ_sh1{
    background: url(/static/images/tab_activ_sh1.gif) 0 0 repeat-y;
    margin-left: -7px;
    padding-left: 26px;
}
.tab_activ .tab_activ_sh2{
    background: url(/static/images/tab_activ_sh2.gif) 100% 0 repeat-y;
    min-height: 40px;
    margin-right: -7px;
    padding-right: 26px;
}
.first_tab_activ .tab_activ_sh1{
    background: none;
    margin-left: 0;
    padding-left: 12px;
}
.tab_long{
    min-height: 40px;
    float: left;
    width: 656px;
}

.h1_h{
    font-size: 24px;
    font-weight: normal;
    padding-top: 6px;
}
.h1_m{
    font-size: 13px;
    padding-top: 13px;
}
.content{
    padding-bottom: 20px;
}
.tab_nested{
    font-size: 13px;
    padding: 13px 0 0 0;
}
.tab{
    float: left;
    min-height: 40px;
    padding: 0 19px;
    border-right: 1px solid #ccc;
    text-transform: uppercase;
}

a.how_order{
    color: #c63d3a;
}
.back_heading{
    float: right;
    padding-top: 14px;
    font-size: 12px;
    font-weight: normal;
}
.back_heading a{
    text-decoration: none;
    color: #c63d3a;    
}
.back_heading a:hover{
    text-decoration: none;
    color: #0f5fa4;
}
.wraper_basket{
    padding-bottom: 30px;
}
.basked_bl{
    padding-bottom: 12px;
}
.tab_basket{
    float: right;
    width: 305px;
}
.basket_count{
    float: right;
    padding: 11px 22px 0 0;
    font-weight: bold;
    color: #2c2929;
    -webkit-text-shadow: white 0 1px;
    -moz-text-shadow: white 0 1px;
    text-shadow: white 0 1px;
}
.basket_count a{
    color: #c63d3a;
}
.basket_count a:hover{
    color: #0f5fa4;
}
.basket_grey{
    background-color: #efefef;
    padding: 9px;
}
.table_heading_basket{
    width: 100%;
}
.table_heading_basket th{
    font-size: 12px !important;
    color: #9e9e9e;
    padding: 0 0 14px 0 !important;
}
th.basked_td_del2{
    width: 90px;
    text-align: center;
}
.basket_tab{
    width: 100%;
}
.basket_tab td{
    font-size: 12px;
    
}
.basket_td_img{
    width: 126px;
}
.basket_td_img_bl{
    width: 107px;
    height: 76px;
    overflow: hidden;
    border: 1px solid #fff;
}
.basked_td_inf{
    padding: 10px 10px 0 0;
}
.basked_td_inf_date{
    color: #646464;
    height: 25px;
}
    .basked_td_inf_date span{
        color: #f14743;
        margin-right: 5px;
    }
.basked_td_inf_txt{
    font-size: 14px;
}
.basked_td_ticket{
    width: 182px;
    padding-top: 10px;
}
.basked_td_ticket p{
    padding-bottom: 3px;
}
.basked_td_ticket_cont{
    color: #646464;
    height: 25px;
}
td.basked_td_price{
    width: 142px;
    vertical-align: middle;
    font-size: 21px;
    color: #a32f2f;
}
.basked_td_del{
    width: 60px;
    text-align: center;
    vertical-align: middle;
}
.basket_total{
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 18px;
}
.back_shopping{
    float: left;
    font-size: 12px;
    padding-top: 12px;
}
.back_shopping a{
    text-decoration: none;
    color: #c63d3a;
}
.back_shopping a:hover{
    text-decoration: none;
    color: #0f5fa4;
}
.back_shopping .icon_back{    
    margin-right: -1px;
}
.basket_total_bl{
    float: right;
    padding-right: 20px;
}
.basket_total_price{
    color: #a32f2f;
}
.basket_total_price label{
    font-size: 26px;
}
.form_ormit_order{
    padding: 20px 0 30px 0;
}
.ormit_order{
    float: left;
    width: 636px;
}
.ormit_order label{
    display: block;
    color: #969696;
    font-size: 12px;
    height: 20px;

}
.ormit_order_1{
    float: left;
    width: 48%;
}
.ormit_order_2{
    float: right;
    width: 48%;
}

.textarea_ormit{
    width: 100%;
    margin: 0;
    padding: 0;
    border: none 0;
    height: 138px;
    overflow: auto;
}
.ormit_order_call{
    float: right;
    width: 298px;
    padding-top: 18px;
}
.ormit_call_txt{
    color: #626262;
    text-align: center;
    padding-bottom: 15px
}
.ormit_call_tel{
    color: #292828;
    font-size: 30px;
    text-align: center;
    padding-bottom: 6px;
    font-weight: bold;
}
.ormit_call_time{
    color: #f14743;
    font-size: 15px;
    text-align: center;
}
.event_img{
    position: relative;
    height: 354px;
    margin-right: 1px;
}
.event_img_description{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: url(/static/images/transparent_bg.png);
}
.event_description_tab{
    width: 100%;
}
.event_description_tab td{
    vertical-align: bottom;
    padding-bottom: 10px;
}
.event_description_btn{
    width: 250px;
    padding-right: 11px;
    color: #fff;
}
.event_description_btn .feed_price,
.event_description_btn .feed_order {
    float: right;    
}
.event_description_btn .feed_price {
    margin-right: 15px;
}
.event_description_inf{
    padding-left: 13px;
    padding-top: 13px;
}
.title_theater{
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
    cursor: pointer;
}
.underline{
    border-bottom: 1px dashed #fff;
}
.title_theater_addres{
    color: #d7d7d7;
    font-size: 13px;
    padding-top: 4px;
    display: none;
}
.select_place a{
    color: #f14743;
    text-decoration: none;
}
.select_place a img {
    vertical-align: middle;
}
.wrap_event_date{
    padding: 20px 0 4px 0;
    margin-bottom: 16px;
    border-bottom: 1px solid #e8e8e8;
}
.event_date{
    margin-left: -14px;
}
.event_date li{
    float: left;
    font-size: 16px;
    border-right: 1px solid #d3d3d3;
    padding:0  14px;
    margin-bottom: 8px;
    color: #f14743;
}
.event_date li.last{
    border-right: none 0;
}
.event_date_time{
    color: #616161;
}
.wrap_article{
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 12px;
}
.wrap_article p{
    padding-bottom: 20px;
}
.h2_article{
    font-size: 28px;
    font-weight: normal;
    padding-bottom: 20px;
}
.annotation{
    font-size: 16px;
    color: #888;
    padding-bottom: 20px;
}
.other_inf{
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 10px;
    margin-bottom: 12px;
    
}
.article_tag{
    float: left;
    color: #0f5fa4;
    font-size: 12px;
    padding-top: 7px;
}
.article_tag a{
    text-decoration: none;
    color: #0f5fa4;
}
.article_tag a:hover{
    text-decoration: none;
    color: #b43532;
}
.heading_tag{
    color: #888;
}
.social_network{
    float: right;
}

/*---------------form_wizard--------------*/
.wraper_form{
    width: 800px;
    margin: 10px auto;
}

.form_wizard{
    width: 800px;
    margin: 10px auto;
}

.form_wizard p{
    padding-bottom: 20px;
}
.form_wizard p:after {
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    content: ".";
    line-height: 0;
    font-size: 0;
}
.form_wizard p {
    *zoom: 1; /* IE7 */
    _height: 1%; /* IE6 */
}

.dynamic-form{
    margin-bottom: 10px;
    border: 1px solid #000;
    padding: 10px;
    position: relative;
}

.form_wizard label{
    float: left;
    width: 150px;
    padding-right: 10px;
}
.form_wizard select, .form_wizard textarea, .form_wizard input{
    float:left;
}
.helptext{
    float: left;
    padding-left: 10px;
    font-size: 11px;
    width: 200px;
}
.add-row{
    color: red;
    float: left;
}
.delete-row{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background: url(/static/images/icon_del_admin.png) no-repeat;
}

/*---------------/form_wizard--------------*/

/*--------------- Footer ---------------*/

.wraper_footer{
    background: #6f6e6e url(/static/images/footer_bg.jpg) repeat-x;
    width: 100%;
    padding: 1px 0;
    color: #f4f4f4;
}
.footer_top{
    background-color: #303030;
    border-top: 1px solid #242424;
    border-bottom: 1px solid #5a5a5a;
    margin: 18px 6px 13px 12px;
    padding-bottom: 15px;
    border-radius: 7px;

}
.search_footer{
    float: right;
    width: 197px;
}
.search_footer .form_search{
    margin: 0;
    padding: 14px 4px 0 0;
}
.footer_menu{
    float: left;
    width: 714px;
    padding: 17px 0 0  3px;
}
    .footer_menu li{
        float: left;
        border-right: 1px solid #4f4f4f;
        padding: 0 12px 0 12px;
        font-size: 12px;
    }
        .footer_menu li a{
            text-decoration: none;
            color: #f4f4f4;
        }
        .footer_menu li a:hover{
            text-decoration: none;
            color: #297dc5;
        }
    .footer_menu li.last{
        border: none 0;
        padding-right: 0;
    }
    .footer_menu li.active, .footer_menu li.active a{        
        color: #8f8f8f;
    }
.footer_bl{
    padding-left: 12px;
    padding-bottom: 26px;
}
.footer_btn{
    float: left;
    width: 205px;
    padding-right: 12px;
}
.ul_footer_btn{
    float: left;
    width: 100%;
}
.ul_footer_btn li{
    float: left;
    padding:0 13px 8px 4px;

}
.footer_dop_menu{
    float: left;
    width: 734px;
}
.dop_menu_bott{
    float: left;
    padding-right: 60px;
}
    .dop_menu_bott a{
        color: #fff;
        text-decoration: none;
    }
    .dop_menu_bott a:hover{
        color: #b6b6b6;
        text-decoration: none;
    }
.dop_menu_bott ul{
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 10px;
}
    .dop_menu_bott ul li{
        font-size: 12px;
        padding-bottom: 0;
    }
.footer_bott{
    background: url(/static/images/footer_bott_bg.jpg) repeat-x;
    height: 50px;
    color: #d7d7d7;
    font-size: 11px;
}
.footer_copyr{
    float: left;
    width: 216px;
    padding: 20px 0 0 12px;
    font-size: 12px;
}
.footer_inf{
    float: left;
    width: 530px;
    padding-top: 20px;
}

.footer_creat{
    float: right;
    width: 160px;
    padding: 18px 12px 0 0;
}
/*--------------- /Footer ---------------*/
/* -------------------- /LAYOUT -------------------- */

/* -------------------- CONTENT -------------------- */
/* ----- hall map ----- */
/* map wrapper */
.map_wrapper {
    padding: 6px 6px 26px 10px;
}
.map_date {
    float: right;
    padding: 0 3px 4px 10px;
}
.map_date select {
    width: 200px;
}
.map_name {
    padding: 3px 0 2px 3px;
    font-size: 14px;
    color: #818181;
}
.map_box {
    float: left;
    width: 646px;
}
.map_data {
    float: right;
    width: 300px;
    padding-top: 18px;
}
/* map view box */
.map_viewbox {
    position: relative;
    width: 640px;
    height: 418px;
    overflow: hidden;
    border: 3px solid #c0c0c0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    background: #f1f1f1;
}
.map_content {
    position: absolute;
    top: 0;
    left: 0;
    zoom: 1;
    width: 100%;
    height: 100%;
}
.map_controls .btn_top,
.map_controls .btn_right,
.map_controls .btn_bottom,
.map_controls .btn_left {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 22px;
    height: 22px;
    background: url(/static/images/map_controls.png) 0 0 no-repeat;
    overflow: hidden;
}
.map_controls .btn_top,
.map_controls .btn_bottom {
    left: 50%;
    margin-left: -11px;
}
.map_controls .btn_right,
.map_controls .btn_left {
    top: 50%;
    margin-top: -11px;
}
.map_controls .btn_top {
    background-position: 0 0;
}
.map_controls .btn_right {
    left: auto;
    right: 0;
    background-position: -22px 0;
}
.map_controls .btn_bottom {
    top: auto;
    bottom: 0;
    background-position: -22px -22px;
}
.map_controls .btn_left {
    background-position: 0 -22px;
}
.map_scale {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: #dcdcdc;
    border-top: 1px solid #a7a7a7;
    border-left: 1px solid #a7a7a7;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    padding: 8px 9px 4px 9px;
}
.map_scale .btn_zoom_out,
.map_scale .btn_zoom_in {
    float: left;
    width: 32px;
    height: 22px;
    background: url(/static/images/map_scale.png) 0 0 no-repeat;
    overflow: hidden;
}
.map_scale .btn_zoom_out {
    margin-right: 4px;
    background-position: 0 0;
}
.map_scale .btn_zoom_in {
    background-position: -32px 0;
}
.map_scale .scale_value {
    float: left;
    position: relative;
    width: 77px;
    height: 22px;
    margin-right: 4px;
    overflow: hidden;
}
.map_scale .scale_line,
.map_scale .scale_pointer {
    display: block;
    position: absolute;
    left: 0;
    background: url(/static/images/map_scale.png) 0 0 no-repeat;
    overflow: hidden;
}
.map_scale .scale_line {
    top: 9px;
    width: 77px;
    height: 3px;
    background-position: 0 -22px;
}
.map_scale .scale_pointer {
    width: 11px;
    height: 11px;
    background-position: -64px 0;
}
.scale_pointer_base {
    display: block;
    position: absolute;
    left: 0;
    top: 5px;
    width: 66px;
}
/* map cart */
.map_cart {
    padding: 3px 6px 20px 0;
}
.map_cart_table td {
    padding: 9px 6px 10px 6px;
    border-bottom: 1px solid #ececec;
    vertical-align: middle;
    font-size: 12px;
    color: #4d4b4b;
}
.map_cart_table .last_row td {
    border-bottom: 0;
}
.map_cart_table .map_cart_point {
    width: 10%;
    padding-left: 1px;
}
.map_cart_table .map_cart_price {
    white-space: nowrap;
    font-size: 12px;
    font-weight: bold;
    color: #a32f2f;
}
.map_cart_table .map_cart_price .figure {
    font-size: 14px;
}
.map_cart_table .map_cart_quantity {
    width: 16%;
    white-space: nowrap;
}
/* map legend */
.map_legend_box {
    margin-bottom: 21px;
}
.map_legend {
    padding: 14px 10px 6px 10px;
    color: #494949;
}
.map_legend img {
    margin-right: 11px;
}
/* map summary */
.map_summary_box {
    margin-bottom: 23px;
}
.map_summary {
    padding: 10px 10px 12px 10px;
    font-size: 18px;
    color: #494949;
}
.map_summary_table td {
    padding-right: 10px;
    vertical-align: bottom;
}
.map_summary_table .map_summary_figure {
    padding-right: 0;
    text-align: right;
    font-size: 20px;
    color: #cb3f3c;
}
/* map order */
.map_order {
    text-align: right;
}
/* ----- /hall map ----- */
/* -------------------- /CONTENT -------------------- */
