{% extends "localsite/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load satchmo_category %}

{% block bodyclass %}category_{% if category.parents %}{% with parent=category.parents|last %}{{ parent.slug }}{% endwith %}{% else %}{{ category.slug }}{% endif %}{% endblock %}

{% block extra-head %}
{% if category.meta %}
    <meta name="description" content="{{ category.meta|escape }}">
{% endif %}
{% endblock %}


{% block content %}
<div id="product_category">
{% if category.translated_description %}<p class="product_category_description">{{ category.translated_description }}</p>{% endif %}
    {% if category.main_image %}
           {% thumbnail category.main_image.picture "85x85" as image %}
           <img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" />
           {% endthumbnail %}
    {% endif %}
    {% for product in products %} 
        {% if forloop.first %}
        <div class="wrap_line">
            <ul class="feed reset_list clearfix">
        {% endif %}
                <li{% cycle '' '' ' class="last"' %}>
                    {% include "localsite/block_product_item.html" %}
                </li>
        {% if forloop.last %}
            </ul>
        </div>
        {% endif %}
    {% endfor %}
{% if child_categories %}
        {% for cat in child_categories %}
            <h4>{{cat.translated_name}}</h4>
            {% if cat.translated_description %}<p class="product_category_description">{{ cat.translated_description }}</p>{% endif %}
            {% for product in cat.active_products %}
            {% if forloop.first %}
            <div class="wrap_line">
                <ul class="feed reset_list clearfix">
            {% endif %}
                    <li{% cycle '' '' ' class="last"' %}>
                        {% include "localsite/block_product_item.html" %}
                    </li>
            {% if forloop.last %}
                </ul>
            </div>
            {% endif %}
            {% endfor %}
        {% endfor %}
{% endif %}
</div>
{% endblock %}


{% block subnav %}
<div class="tab_long tab_activ first_tab_activ">
    <div class="tab_activ_sh1">
        <div class="tab_activ_sh2">
            {% if category.parents %}
            <h1 class="h1_h fl_l">{{ category.translated_name }}</h1>
            <div class="back_heading">
                <img alt="" src="{{ media_url }}images/icon_back_shopping.gif">
                <a href="{{ category.parents.0.get_absolute_url }}">Вернуться в {{ category.parents.0.translated_name|lower }}</a>
            </div>
            {% else %}
            <h1 class="h1_h">{{ category.translated_name }}</h1>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}


