{% extends "shop/base.html" %}
{% load local_tags %}
{% comment %}
-------------------------------------------------------------------
This is the base product detail page.
To modify the templates of specific types of products, such as
ProductVariations or CustomProducts, look for product/detail_xxx.html
-------------------------------------------------------------------
{% endcomment %}
{% load i18n %}
{% load thumbnail %}
{% load satchmo_price %}
{% load satchmo_currency satchmo_category %}
{% load satchmo_util satchmo_discounts %}
{% load app_plugins %}

{% block announcements %}{% endblock %}

{% block extra-head %}
       <script src="{{ media_url }}js/Fabric.js" type="text/javascript" ></script>
{% if product.meta %}
    <meta name="description" content="{{product.meta}}">
{% endif %}
{% endblock %}

{% block bodyclass %}category_{% if product.main_category.parents %}{% with parent=product.main_category.parents|last %}{{ parent.slug }}{% endwith %}{% else %}{{ product.main_category.slug }}{% endif %}{% endblock %}

{% block navbar %}
<li class="first"><a href="{{ shop_base }}/">{% trans "Home" %}</a></li>
{% for name, url in product.category.all.0.get_url_name %}
    <li><a href="{{ url }}">{{ name }}</a></li>
{% endfor %}
<li>{{ product.translated_name }}</li>
{% endblock %}

{% block content %}
{% block productdetail %}
                    <div class="content">

                        <script type="text/javascript">
                            $(document).ready(function(){
                                $('.title_theater').hover(
                                    function(){
                                      $('#theater').removeClass('underline');
                                      $('.title_theater_addres').show();
                                    },
                                    function(){
                                      $('#theater').addClass('underline');
                                      $('.title_theater_addres').hide();
                                    }

                                )
                            });

                        </script>

                        <div class="event_img">
                            {% if product.main_image.picture|is_portrait %}
                                  {% thumbnail product.main_image.picture "637x354" crop="50% 25%" as image %}
                                  <a href="{{ product.get_absolute_url }}"><img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" /></a>
                                  {% endthumbnail %}
                            {% else %}
                                  {% thumbnail product.main_image.picture "637x354" crop="center" as image %}
                                  <a href="{{ product.get_absolute_url }}"><img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" /></a>
                                  {% endthumbnail %}
                            {% endif %}
                            <div class="event_img_description">
                                <table class="event_description_tab">
                                    <tr>
                                        <td class="event_description_inf">
                                            <div class="title_theater">
                                                <span class="underline" id="theater">{{ product.event.hallscheme.hall.name }}</span>
                                                <div class="title_theater_addres">
                                                    {{ product.event.hallscheme.hall.city }}{% if product.event.hallscheme.hall.address %}, {{ product.event.hallscheme.hall.address }}{% endif %}.
                                                </div>
                                            </div>
                                            <div class="select_place">
                                                <a href="#">Выбрать дату и место в зале на схеме  </a>
                                            </div>
                                        </td>
                                        <td class="event_description_btn">
                                            Button
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="wrap_event_date">
                            <ul class="event_date reset_list clearfix">
                                {% for date in product.event.dates.all %}{% ifchanged date.datetime.date %}{% if forloop.first %}{% else %}</span></li>
                                {% endif %}<li{% if date.datetime.date == product.event.max_date %} class="last"{% endif %}>{{ date.datetime|date:"j E Y, l" }} <span class="event_date_time">{% else %}, {% endifchanged %}{{ date.datetime|date:"H:i" }}{% if forloop.last %}</span></li>{% endif %}{% endfor %}
                            </ul>
                        </div>
                        <div class="wrap_article">
                            <h2 class="h2_article">{{ product.translated_name }}</h2>
                            <div class="annotation">
                                {{ product.translated_short_description }}
                            </div>
                                {{ product.translated_description }}
                        </div>

                        <div class="other_inf clearfix">
                            <div class="article_tag">
                                <span class="heading_tag">Теги:</span>
                                {% for tag in product.event.taglist %}
                                <a href="#">{{ tag }}</a>,
                                {% endfor %}
                            </div>

                            <div class="social_network">
                                <img src="{{ media_url }}/images/temp/social_btn.jpg" alt="" />
                            </div>

                        </div>



                    </div>
{% if user.is_staff %}
	<a href="{% url edit_event product.id %}">{% trans "Edit" %}</a>
{% endif %}
{% endblock %}

{% block productfooter %}
{% if sale %}{% include "product/product_discount_eligible.html" %}{% endif %}
{% plugin_point "product_footer" %}
{% endblock %}
{% endblock %}

{% block contentfooter %}
{% endblock %}
{% block sidebar3 %}
{% if product.related_items.all %}
<div class="heading_bg">
    <span class="h_t_l"><!-- --></span>
    <span class="h_t_r"><!-- --></span>
    <h2>{% trans "Related events" %}</h2>
    <span class="h_b_l"><!-- --></span>
    <span class="h_b_r"><!-- --></span>
</div>
<div class="wrap_line">
    <ul class="feed_list reset_list">
        {% for prod in product.related_items.all %}
            <li>
                <div class="curve_top"><div><span class="curve_gray"><!-- --></span></div></div>
                <div class="curve_body feed_gray clearfix">
                    <div class="feed_list_img">
                            {% if prod.main_image.picture|is_portrait %}
                                  {% thumbnail prod.main_image.picture "85x61" crop="50% 25%" as image %}
                                  <a href="{{ prod.get_absolute_url }}"><img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" /></a>
                                  {% endthumbnail %}
                            {% else %}
                                  {% thumbnail prod.main_image.picture "85x61" crop="center" as image %}
                                  <a href="{{ prod.get_absolute_url }}"><img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" /></a>
                                  {% endthumbnail %}
                            {% endif %}
                    </div>
                    <div class="feed_list_txt">
                        <div class="feed_list_txt_tag">
                            {% if prod.main_category %}<a href="{{ prod.main_category.get_absolute_url }}">{{ prod.main_category.translated_name }}</a>{% endif %} &nbsp; {{ prod.event.dates.all.0.datetime|date:"j E" }}
                        </div>
                        <div class="feed_list_txt_inf">
                            <a href="{{ prod.get_absolute_url }}" class="feed_list_detail">{{ prod.translated_name }}</a>
                        </div>
                    </div>
                </div>
                <div class="curve_bott"><div><span class="curve_gray"><!-- --></span></div></div>
            </li>
        {% endfor %}
    </ul>
    <div class="all_link">
        <a class="has_icon_ahead" href="{% url display_related product.id %}"><i class="icon_ahead"></i>{% trans "All related events" %}</a>
    </div>
</div>
{% endif %}
{% endblock %}
{% block sidebar4 %}
{% endblock %}

{% block subnav %}
<div class="tab_long tab_activ first_tab_activ">
    <div class="tab_activ_sh1">
        <div class="tab_activ_sh2">
            {% if product.main_category.parents %}
            <h1 class="h1_h fl_l">{{ product.main_category.translated_name }}</h1>
            <div class="back_heading">
                <img alt="" src="{{ media_url }}images/icon_back_shopping.gif"/>
                {% with parent=product.main_category.parents|last %}<a href="{{ parent.get_absolute_url }}">Вернуться в {{ parent.translated_name|lower }}</a>{% endwith %}
            </div>
            {% else %}
            <h1 class="h1_h fl_l">{{ product.main_category.translated_name }}</h1>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block overlay %}<div class="overlay hidden"></div>{% endblock %}

{% block overbox%}
    <div class="overbox hidden">
        <div class="overbox_toolbar clearfix">
            <script type="text/javascript">
                //<![CDATA[

var zoomlevel = 1;
var zoom = {
    1: {
        "p": "100%",
        "o": "0%",
        "s": "0%"
    },
    2: {
        "p": "150%",
        "o": "-25%",
        "s": "25%"
    },
    3: {
        "p": "200%",
        "o": "-50%",
        "s": "50%"
    },
    4: {
        "p": "250%",
        "o": "-75%",
        "s": "75%"
    },
    5: {
        "p": "300%",
        "o": "-100%",
        "s": "100%"
    }
};
var add_ticket = function(slug) {
    $.post('{% url add_ticket %}', {
        csrfmiddlewaretoken: getCookie('csrftoken'),
        seat: slug,
        datetime: $('#id_datetime').val(),
    },
        function(data) {
            $(".cart_count").text(data.cart_count);
            $(".map_summary_figure label").text(data.cart_total);
            $("#hallmap")[0].contentDocument.getElementById(data.slug).firstElementChild.setAttribute("fill",'#a6cd77');
        },
        'json'
    );
}
$(function() {
                $('.select_place a').click(function(){
                    $('.overlay').removeClass('hidden');
                    $('.overbox').removeClass('hidden');
                    return false;
                });
                $('.btn_close').click(function(){
                    $('.overlay').addClass('hidden');
                    $('.overbox').addClass('hidden');
                    return false;
                });
                $('.btn_left').click(function(){
                        val =  (parseFloat($('.map_content')[0].style.left) + 10) + "%";
                        $('.map_content').css('left', val);

                    return false;
                });
                $('.btn_right').click(function(){
                        val =  (parseFloat($('.map_content')[0].style.left) - 10) + "%";
                        $('.map_content').css('left', val);

                    return false;
                });
                $('.btn_bottom').click(function(){
                        val =  (parseFloat($('.map_content')[0].style.top) - 10) + "%";
                        $('.map_content').css('top', val);

                    return false;
                });
                $('.btn_top').click(function(){
                        val =  (parseFloat($('.map_content')[0].style.top) + 10) + "%";
                        $('.map_content').css('top', val);

                    return false;
                });
                $('.btn_zoom_out').click(function(){
                    if (zoomlevel > 1) {
                        zoomlevel -= 1;
                        $('.map_content').css('width', zoom[zoomlevel]['p']);
                        $('.map_content').css('height', zoom[zoomlevel]['p']);
                        $('.map_content').css('top', zoom[zoomlevel]['o']);
                        $('.map_content').css('left', zoom[zoomlevel]['o']);
                        $('.scale_pointer').css('left', zoom[zoomlevel]['s']);
                        } else {
                        }

                    return false;
                });
                $('.btn_zoom_in').click(function(){
                    if (zoomlevel < 5) {
                        zoomlevel += 1;
                        $('.map_content').css('width', zoom[zoomlevel]['p']);
                        $('.map_content').css('height', zoom[zoomlevel]['p']);
                        $('.map_content').css('top', zoom[zoomlevel]['o']);
                        $('.map_content').css('left', zoom[zoomlevel]['o']);
                        $('.scale_pointer').css('left', zoom[zoomlevel]['s']);
                        } else {
                        }

                    return false;
                });
});
//]]>
            </script>
            <a class="btn_close" href="#">Закрыть<i class="icon_close"></i></a>
        </div>
        <div class="overbox_content clearfix">

            <div class="wraper_tab clearfix">
<div class="tab_long tab_activ first_tab_activ">
    <div class="tab_activ_sh1">
        <div class="tab_activ_sh2">
            <h1 class="h1_h fl_l">{{ product.main_category.translated_name }}</h1>
        </div>
    </div>
</div>
                <div class="tab_basket">
                    <div class="basket_count">
                        <a class="has_icon_basket" href="{% url satchmo_cart %}"><i class="icon_basket"></i>{% blocktrans count counter=cart|length %}In your cart <span class="cart_count">{{ counter }}</span> ticket{% plural %}In your cart <span class="cart_count">{{ counter }}</span> tickets{% endblocktrans %}</a>
                    </div>
                </div>
            </div>

            <div class="map_wrapper clearfix">
                <div class="map_box">
                    {% with dates=product.event.dates.all %}
                    <div class="map_date">
                    {% if dates.count = 1 %}
                    {{ dates.0.datetime|date:"j E Y, l - H:i" }}
                    {% else %}
                    {% select_section_form product.event %}
                    {% endif %}
                    </div>
                    <div class="map_name">Выбор мест</div>
                    <div class="map_viewbox">
                        <div class="map_content">
                            <object id="hallmap" data="{% if dates.count = 1 %}{% url get_hall_map dates.0.id %}{% endif %}" style="display: block; width: 100%; height: 100%">Please select date</object>
                        </div>
                        <div class="map_controls">
                            <a class="btn_top" href="#"></a>
                            <a class="btn_right" href="#"></a>
                            <a class="btn_bottom" href="#"></a>
                            <a class="btn_left" href="#"></a>
                            <div class="map_scale">
                                <a class="btn_zoom_out" href="#"></a>
                                <span class="scale_value">
                                    <span class="scale_line"></span>
                                    <span class="scale_pointer_base">
                                        <i class="scale_pointer"></i>
                                    </span>
                                </span>
                                <a class="btn_zoom_in" href="#"></a>
                            </div>
                        </div>
                    </div>
                    {% endwith %}
                </div>
                <div class="map_data">
                    <div class="map_cart">
                        <table class="map_cart_table" width="100%" cellpadding="0" cellspacing="0" border="1">
				<!--
                            <tr>
                                <td class="map_cart_point"><img src="{{ media_url }}/images/icon_point_my.gif" alt=""/></td>
                                <td class="map_cart_name">Места</td>
                                <td class="map_cart_price"><span class="figure">1500</span> грн</td>
                                <td class="map_cart_quantity">4 шт</td>
                            </tr>
                            <tr>
                                <td class="map_cart_point"><img src="{{ media_url }}/images/icon_point_my.gif" alt=""/></td>
                                <td class="map_cart_name">Места</td>
                                <td class="map_cart_price"><span class="figure">560</span> грн</td>
                                <td class="map_cart_quantity">9 шт</td>
                            </tr>
                            <tr>
                                <td class="map_cart_point"><img src="{{ media_url }}/images/icon_point_my.gif" alt=""/></td>
                                <td class="map_cart_name">Места</td>
                                <td class="map_cart_price"><span class="figure">900</span> грн</td>
                                <td class="map_cart_quantity">3 шт</td>
                            </tr>
                            <tr class="last_row">
                                <td class="map_cart_point"><img src="{{ media_url }}/images/icon_point_dance.gif" alt=""/></td>
                                <td class="map_cart_name">Танцпол</td>
                                <td class="map_cart_price"><span class="figure">1500</span> грн</td>
                                <td class="map_cart_quantity">&nbsp;</td>
                            </tr>
			-->
                        </table>
                    </div>
                    <div class="map_legend_box">
                        <div class="curve_l_top"><div><span><!-- --></span></div></div>
                        <div class="curve_l_body clearfix">
                            <div class="map_legend">
                                <p><img src="{{ media_url }}/images/icon_point_disabled.gif" alt=""/>Недоступно</p>
                                <p><img src="{{ media_url }}/images/icon_point_reserved.gif" alt=""/>Зарезервировано</p>
                                <p><img src="{{ media_url }}/images/icon_point_my.gif" alt=""/>Мои места</p>
                            </div>
                        </div>
                        <div class="curve_l_bot"><div><span><!-- --></span></div></div>
                    </div>
                    <div class="map_summary_box">
                        <div class="curve_l_top"><div><span><!-- --></span></div></div>
                        <div class="curve_l_body clearfix">
                            <div class="map_summary">
                                <table class="map_summary_table" width="100%" cellpadding="0" cellspacing="0" border="1">
                                    <tr>
                                        <td class="map_summary_name">Выбрано мест:</td>
					<td class="map_summary_figure"><span class="cart_count">{{ cart|length }}</span></td>
                                    </tr>
                                    <tr>
                                        <td class="map_summary_name">На сумму:</td>
                                        <td class="map_summary_figure"><label>{{ cart.total|stringformat:"i" }}</label> грн</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="curve_l_bot"><div><span><!-- --></span></div></div>
                    </div>
                    <div class="map_order">
			    <a class="btn_red_l" href="{% url satchmo_cart %}">
                            <span>Перейти к заказу<b>Перейти к заказу</b></span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
