{% extends "shop/base.html" %}
{% comment %}
-------------------------------------------------------------------
This is the base product detail page.
To modify the templates of specific types of products, such as
ProductVariations or CustomProducts, look for product/detail_xxx.html
-------------------------------------------------------------------
{% endcomment %}
{% load i18n %}
{% load thumbnail %}
{% load satchmo_price %}
{% load satchmo_currency satchmo_category %}
{% load satchmo_util satchmo_discounts %}
{% load app_plugins %}

{% block extra-head %}
{% if product.meta %}
    <meta name="description" content="{{product.meta}}">
{% endif %}
{% endblock %}

{% block navbar %}
<li class="first"><a href="{{ shop_base }}/">{% trans "Home" %}</a></li>
{% for name, url in product.category.all.0.get_url_name %}
    <li><a href="{{ url }}">{{ name }}</a></li>
{% endfor %}
<li>{{ product.translated_name }}</li>
{% endblock %}

{% block content %}
{% block productdetail %}
                    <div class="content">

                        <script type="text/javascript">
                            $(document).ready(function(){
                                $('.title_theater').hover(
                                    function(){
                                      $('#theater').removeClass('underline');
                                      $('.title_theater_addres').show();
                                    },
                                    function(){
                                      $('#theater').addClass('underline');
                                      $('.title_theater_addres').hide();
                                    }

                                )
                            });

                        </script>

                        <div class="event_img">
                            {% if product.main_image.picture|is_portrait %}
                                  {% thumbnail product.main_image.picture "637x354" crop="50% 25%" as image %}
                                  <a href="{{ product.get_absolute_url }}"><img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" /></a>
                                  {% endthumbnail %}
                            {% else %}
                                  {% thumbnail product.main_image.picture "637x354" crop="center" as image %}
                                  <a href="{{ product.get_absolute_url }}"><img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" /></a>
                                  {% endthumbnail %}
                            {% endif %}
                            <div class="event_img_description">
                                <table class="event_description_tab">
                                    <tr>
                                        <td class="event_description_inf">
                                            <div class="title_theater">
                                                <span class="underline" id="theater">{{ product.event.hallscheme.hall }}</span>
                                                <div class="title_theater_addres">
                                                    {{ product.event.hallscheme.hall.address }}
                                                </div>
                                            </div>
                                            <div class="select_place">
                                                <a href="#">Выбрать дату и место в зале на схеме  </a>
                                            </div>
                                        </td>
                                        <td class="event_description_btn">
                                            Button
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="wrap_event_date">
                            <ul class="event_date reset_list clearfix">
                                {% for date in product.event.dates.all %}{% ifchanged date.datetime.date %}{% if forloop.first %}{% else %}</span></li>{% endif %}<li>{{ date.datetime|date:"j E Y, l" }}<span class="event_date_time">{% else %}, {% endifchanged %} {{ date.datetime|date:"H:i" }}{% if forloop.last %}</span></li>{% endif %}{% endfor %}
                            </ul>
                        </div>
                        <div class="wrap_article">
                            <h2 class="h2_article">Концерт группы Metallica в Киеве!</h2>
                            <div class="annotation">
                                Более 20 лет на сцене, живой звук, лучшие исполнители в своем жанре. Они покажут
                                настоящий драйв и отрыв по полной.
                            </div>
                            <p>
                                Нынешняя постановка сильно отличается от предыдущих, хотя бы даже тем, что предыдущие
                                были поставлены еще в советское время, и многие из идей режиссуры просто-напросто
                                вырывались на корню не дремлющими работниками цензуры. Сергей Женовач, уже упрочивший
                                за собой звание одного из интереснейших режиссеров современности, сумел-таки из столь
                                несобираемой мозаики актеров сделать что-то грандиозное.
                            </p>
                            <p>
                                Несмотря на всю трагичность произведения и постановки, само действие все-таки оставляет
                                на душе лишь умиротворенность. Сцена построенная в спектакле под углом, будто бы от
                                одного дуновения ветерка вот вот все повалится кубарем прочь, как и все в России тех
                                времен приобретает не такой грустный оттенок, когда на ней за столом появляются герои,
                                раскрасневшиеся от мороза, а также их извечные спутники - рюмки, как ни накренена сцена,
                                а стол на ней стоит, причем на всех четырех ножках.
                            </p>
                            <p>
                                Несмотря на всю трагичность произведения и постановки, само действие все-таки оставляет
                                на душе лишь умиротворенность. Сцена построенная в спектакле под углом, будто бы от
                                одного дуновения ветерка вот вот все повалится кубарем прочь, как и все в России тех
                                времен приобретает не такой грустный оттенок, когда на ней за столом появляются герои,
                                раскрасневшиеся от мороза, а также их извечные спутники - рюмки, как ни накренена сцена,
                                а стол на ней стоит, причем на всех четырех ножках.
                            </p>
                        </div>

                        <div class="other_inf clearfix">
                            <div class="article_tag">
                                <span class="heading_tag">Теги:</span>
                                <a href="#">концерты</a>,
                                <a href="#">музыка</a>,
                                <a href="#">металл</a>
                            </div>

                            <div class="social_network">
                                <img src="images/temp/social_btn.jpg" alt="" />
                            </div>

                        </div>



                    </div>
<h4>{{ product.translated_name }}</h4>
<p>{{ product.translated_description }}</p>
{% trans "Price" %} {% if default_view_tax %} {% trans '(incl. tax)' %}{% endif %}:
<h3>
	{% if sale %}<strike id="fullprice" style="display: block;">{{ product|discount_price:""|currency }}</strike>{% endif %}
	<span id="price">{{ product|discount_price:sale|currency }}</span>
</h3>
{% for pic in product.productimage_set.all %}
    {% thumbnail pic.picture "280x280" as image %}
    <img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" />
    {% endthumbnail %}
{% endfor %}

{% with product.translated_attributes as atts %}{% if atts %}
<p class="productattributes">
{% for att in product.translated_attributes %}
{{ att.description }}: {{ att.value }}<br/>
{% endfor %}
</p>
{% endif %}{% endwith %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form id="options" action="{% url satchmo_smart_add %}" method="post">{% csrf_token %}
{% trans "Quantity" %} <input type="text" size="5" name="quantity" id="quantity" value="1" class="priced" />
<input type="hidden" name="productname" id="productname" value="{{product.slug}}" />
<input type="submit" name="addcart" value="{% trans "Add to cart" %}" />
{% plugin_point "product_add_buttons" %}
{% plugin_point "product_form" %}
</form>
{% endblock %}

{% block productfooter %}
{% if sale %}{% include "product/product_discount_eligible.html" %}{% endif %}
{% plugin_point "product_footer" %}
{% endblock %}
{% endblock %}
