{% extends "localsite/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load satchmo_util %}

{% block navbar %}
<li class="first"><a href="{{ shop_base }}/">{% trans "Home" %}</a></li>
<li>{% trans "Recently Added" %}</li>
{% endblock %}

{% block content %}
{% if page %}
<div class="wrap_line">
    <ul class="feed reset_list clearfix">
	{% for product in page.object_list %}
    <li{% cycle '' '' ' class="last"' %}>
        {% include "localsite/block_product_item.html" %}
    </li>
    {% endfor %}
</ul>
</div>
	{% if page.has_other_pages %}
	<div id = "pagination">
	<ul>
	    {% if page.has_previous %}
	        <li> <a href="{{ request.path }}?page={{page.previous_page_number}}">{% trans "Previous" %}</a> </li>
	    {% else %}
	        <li> {% trans "Previous" %} </li>
	    {% endif %}
	    {% if page.has_next %}
	        <li> <a href="{{ request.path }}?page={{page.next_page_number}}">{% trans "Next" %}</a></li>
	    {% else %}
	        <li> {% trans "Next" %} </li>
	    {% endif %}
	</ul>
	</div>
	{% endif %}
{% else %}
	<div class="recentlyadded">
		<p>{% trans "Bad Page" %}</p>
	</div>
{% endif %}
{% endblock %}

{% block subnav %}
<div class="tab_activ tab">
    <div class="tab_activ_sh">
        <h1 class="h1_m"><a href="{% url satchmo_shop_home %}">НОВИНКИ</a></h1>
    </div>
</div>
<div class="tab">
    <h1 class="h1_m"><a href="{% url satchmo_product_best_selling %}">БЕСТСЕЛЛЕРЫ</a></h1>
</div>
<div class="tab">
    <h2 class="tab_nested"><a href="{% url localsite_featured %}">РЕКОМЕНДУЕМ</a></h2>
</div>
<div class="tab">
    <div class="tab_nested">
        <a class="how_order" href="{{ help_page.url }}#how_order">КАК ЗАКАЗАТЬ И ОПЛАТИТЬ?</a>
    </div>
</div>
{% endblock %}
