{% extends "shop/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load satchmo_util %}

{% block navbar %}
<li class="first"><a href="{{ shop_base }}/">{% trans "Home" %}</a></li>
<li>{% trans "Recently Added" %}</li>
{% endblock %}

{% block content %}
{% if announcements %} 
            <script type="text/javascript" language="javascript">
                $(function() {
                  var el = $('#carousel');
                  var lis = el.children();
                  var len = lis.length;
                  lis.each( function(i) {
                    $(this).attr('rel',i+1);
                  } );
                  $('#pager').text( 1+'/'+len );
                                el.carouFredSel({
                                    prev: '#prev',
                                    next: '#next',
                                    pagination: {
                                     container: "#pager",
                                     anchorBuilder: function( nr, item ) {
                                     }
                                   },
                                    scroll: {
                                        pauseOnHover: true,
                                        onBefore: function( oldItems, newItems, newSizes ) {
                                        $('#pager').text( $(newItems).eq(0).attr('rel')+'/'+len );
                                       }
                                    }
                                });
                });
            </script>

                    <div class="wraper_visual_list ">
                        <div class="wraper_visual_list2 list_carousel">
                            <ul class="reset_list" id="carousel">
                                {% for announcement in announcements %}
                                <li>
                                      {% thumbnail announcement.event.product.main_image.picture 637x298 crop="center" as image %}
                                      <img src="{{ image }}" alt="" />
                                    <div class="visual_list_footer">
                                        <div class="visual_list_footer2">
                                            <h3>U2 <span class="f_date">25 мая</span> в Киеве отожгут</h3>
                                            Национальный академический театр русской драмы<br />им. Леси Украинки
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <ul class="visual_list_pager reset_list">
                            <li><a id="prev" class="prev" href="#"> < </a></li>
                            <li id="pager"></li>
                            <li><a id="next" class="next" href="#"> > </a></li>
                        </ul>
                     </div>
{% endif %}
{% if page %}
<div class="wrap_line">
    <ul class="feed reset_list clearfix">
	{% for product in page.object_list %}
    <li{% cycle '' '' ' class="last"' %}>
        <div class="feed_img">
            <div class="feed_img_wrap">
              {% thumbnail product.main_image.picture 215x134 as image %}
              <a href="{{ product.get_absolute_url }}"><img src="{{ image }}" width="{{ image.width }}" height="{{ image.height }}" /></a>
            </div>
        </div>
        <div class="feed_tag">
            {% if product.main_category %}<a href="{{ product.main_category.get_absolute_url }}">{{ product.main_category.translated_name }}</a>{% endif %} &nbsp; {{ product.event.dates.all.0.datetime|date:"j E" }}
        </div>
        <div class="feed_txt">
            <p><a href="{{ product.get_absolute_url }}">{{ product.translated_name }}</a></p>
        </div>
        </li>
    {% endfor %}
</ul>
</div>
	{% if page.has_other_pages %}
	<div id = "pagination">
	<ul>
	    {% if page.has_previous %}
	        <li> <a href="{{ request.path }}?page={{page.previous_page_number}}">{% trans "Previous" %}</a> </li>
	    {% else %}
	        <li> {% trans "Previous" %} </li>
	    {% endif %}
	    {% if page.has_next %}
	        <li> <a href="{{ request.path }}?page={{page.next_page_number}}">{% trans "Next" %}</a></li>
	    {% else %}
	        <li> {% trans "Next" %} </li>
	    {% endif %}
	</ul>
	</div>
	{% endif %}
{% else %}
	<div class="recentlyadded">
		<p>{% trans "Bad Page" %}</p>
	</div>
{% endif %}
{% endblock %}
