{% load satchmo_currency %}
{% load satchmo_checkout %}
{% load satchmo_util %}
{% load app_plugins normalize_decimal %}
{% load i18n %}
{% load thumbnail %}
{% if default_view_tax %}{% load satchmo_tax %}{% endif %}

<h4>{% trans "Items Ordered" %}</h4>

            {% for item in order.orderitem_set.all %}
                <div id='item-{{item.id}}' class='basked_bl item'>
                    <div class='curve_top'>
                        <div>
                            <span class='curve_gray'>
<!--  -->
                            </span>
                        </div>
                    </div>
                    <div class='curve_body basket_grey'>
                        <table class='basket_tab'>
                            <tbody>
                                <tr>
                                    <td class='basket_td_img'>
                                        <div class='basket_td_img_bl'>
                                            {% if item.product.ticket.event.product.main_image.picture|is_portrait %}
                                                {% thumbnail item.product.ticket.event.product.main_image.picture "107x76" crop="50% 25%" as image %}
                                                    <a href='{{ item.product.ticket.event.product.get_absolute_url }}'>
                                                        <img src='{{ image.url }}' height='{{ image.height }}' width='{{ image.width }}' />
                                                    </a>
                                                {% endthumbnail %}
                                            {% else %}
                                                {% thumbnail item.product.ticket.event.product.main_image.picture "107x76" crop="center" as image %}
                                                    <a href='{{ item.product.ticket.event.product.get_absolute_url }}'>
                                                      <img src='{{ image.url }}' height='{{ image.height }}' width='{{ image.width }}' />
                                                    </a>
                                                {% endthumbnail %}
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td class='basked_td_inf'>
                                        <div class='basked_td_inf_date'>
                                            <span>
                                                {{ item.product.ticket.datetime.datetime|date:"j E Y, l" }}
                                            </span>
                                            {{ item.product.ticket.datetime.datetime|date:"H:i" }}
                                        </div>
                                        <div class='basked_td_inf_txt'>
                                            {{ item.product.ticket.event.product.name }}
                                            {{ item.product.ticket.event.product.short_description }}
                                        </div>
                                    </td>
                                    <td class='basked_td_ticket'>
                                        <div class='basked_td_ticket_cont'>
                                            {{ item.product.ticket.seat.section.name }}
                                        </div>
                                        <p>
                                            {{ item.product.ticket.seat.row }}
                                            Ряд,
                                            {{ item.product.ticket.seat.col }}
                                            Место
                                        </p>
                                    </td>
                                    <td class='basked_td_price'>
                                        {{ item.product.unit_price|currency }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class='curve_bott'>
                        <div>
                            <span class='curve_gray'>
<!--  -->
                            </span>
                        </div>
                    </div>
                </div>
            {% endfor %}


<h4>{% trans "Contact Information" %}</h4>
{{ order.contact.full_name }}<br/>
{{ order.contact.email }}<br/>
{{ order.contact.primary_phone.phone }}<br/>

<h4>{% trans "Billing Information" %}</h4>
{{ order.full_bill_street|linebreaksbr }}<br/>
{{ order.bill_city }}<br/>
{{ order.bill_state }}<br/>
{{ order.bill_postal_code }}<br/>
{{ order.bill_country_name|title }}<br/>

{% if order.is_shippable %}
<h4>{% trans "Shipping Address" %}</h4>
{{ order.full_ship_street|linebreaksbr }}<br/>
{{ order.ship_city }}<br/>
{{ order.ship_state }}<br/>
{{ order.ship_postal_code }}<br/>
{{ order.ship_country_name|title }}<br/>

<h4>{% trans "Shipping Method" %}</h4>
{{ order.shipping_description }}<br/>
{{ order.shipping_method }}<br/>
{% if default_view_tax %}
{{ order.shipping_with_tax|currency }}
{% else %}
{{ order.shipping_sub_total|currency }}
{% endif %}<br/>
{% endif %}{# order.is_shippable #}

<h4>{% trans "Total" %}</h4>
{% trans "Subtotal" %} = {% if default_view_tax %}
{{ order.sub_total_with_tax|currency }}
{% else %}
{{ order.sub_total|currency }}
{% endif %}<br/>
{% if order.discount %}
    {% trans "Discount" %} - {{order.item_discount|currency}}<br/>
{% endif %}
{% if order.shipping_discount %}
{% trans "Base Shipping" %} + {{order.shipping_cost|currency}}<br/>
{% trans "Shipping Discount" %} - {{order.shipping_discount|currency}}<br/>
{% if order.shipping_tax and default_view_tax %}{% trans "Shipping (incl. Tax)" %}{{ order.shipping_with_tax|currency}}{% endif %}
{% endif %}
{% trans "Shipping" %} + {% if default_view_tax %}{{ order.shipping_with_tax|currency }}{% else %}{{order.shipping_sub_total|currency}}
{% endif %}<br/>
{% if order.tax %}
    {% if default_view_tax %}
    {% trans "Tax included" %}
    {% else %}
    {% trans "Tax" %} + {% endif %}{{order.tax|currency}}<br/>
{% endif %}
{% trans "Total" %} = {{order.total|currency}}<br/>

{% order_payment_summary order %}

{% plugin_point "order_details" %}
