{% extends "shop/base.html" %}
{% load i18n %}
{% load satchmo_cart %}
{% load satchmo_currency %}
{% load local_tags %}
{% load satchmo_util %}
{% load satchmo_product %}
{% load satchmo_discounts %}
{% load normalize_decimal %}
{% load thumbnail %}

{% block navbar %}
    <li class="first"><a href="{{shop_base}}/">{% trans "Home" %}</a></li>
    <li>{% trans "Cart" %}</li>
{% endblock %}

{% block contentwraper %}


{% if error_message %}
<div class="error">{{ error_message }}</div>
{% endif %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if not cart|length %}
    <h4 id="cartheader">{% trans "Your cart is empty." %}</h4>
{% else %}

<script type="text/javascript">
function clearCart() {
    $("#cart").remove();
    $("#checkout_link").remove();
    $("#checkout_form").remove();
    $("#cartheader").text('{% trans "Your cart is empty." %}');
    $("#quickcart").html("<br>");
}

function removeItem(data) {
    $("#cartitem-" + data.item_id).remove();
    updateSidebar(data);
    $("#infobox").html("Item removed!");
    
}

function updateSidebar(data) {
    $("#quickcart").html("(" + data.cart_count + " - $" + data.cart_total + ")<br >");
}
$(function() {
    
    $(".qtyform").submit(function() {
        $.post('{% url satchmo_cart_set_qty %}', {
            cartitem: $(this).children('input.cartitem_id').val(),
            quantity: $(this).children('input.cartitem_qty').val()
            },
            function(data) {
                if (parseInt(data.item_qty) > 0) {
                    $("#cartitem-" + data.item_id + " .cartitem_linetotalprice").text('$' + data.item_price);
                    $("#cart_total").text('$' + data.cart_total);
                    
                    updateSidebar(data);
                    $("#infobox").html("Quantity updated!");
                } else {
                    if (parseInt(data.cart_count) <= 0) {
                        clearCart();
                    } else {
                        removeItem(data);
                    }
                }
            },
            'json'
        );
        return false;
    });
    
    $(".removeform a").click(function() {
        $.post('{% url satchmo_cart_remove %}', {
            csrfmiddlewaretoken: getCookie('csrftoken'),
            cartitem: $(this).parents('form:first').children('input.cartitem_id').val()
            },
            function(data) {
                $("#cart_total label").text(data.cart_total);
                $(".cart_count").text(data.cart_count);
                if (parseInt(data.cart_count) <= 0) {
                    removeItem(data);
                    clearCart();
                } else {
                    removeItem(data);
                }
            },
            'json'
        );
        return false;
    });
    
    $.ajaxSetup({
        error: function() {
            $("#errormessages").html("<strong>There was an error with your request</strong>");
        }
    });
       
});
</script>

    <h4 id="cartheader"></h4>
    <div class="wraper_basket" id="cart">
        <table class="table_heading_basket">
            <tbody>
                <tr>
                    <th>Предстоящее событие</th>
                    <th class="basked_td_ticket">Кол-во и места</th>
                    <th class="basked_td_price">Цена</th>
                    <th class="basked_td_del2">Удалить</th>
                </tr>
            </tbody>
        </table>

        {% for cartitem in cart %}
        <div class="basked_bl cartitem" id="cartitem-{{cartitem.id}}">
            <div class="curve_top"><div><span class="curve_gray"><!-- --></span></div></div>
            <div class="curve_body basket_grey">
                <table class="basket_tab">
                    <tbody>
                        <tr>
                            <td class="basket_td_img">
                                <div class="basket_td_img_bl">
                                {% if cartitem.product.ticket.event.product.main_image.picture|is_portrait %}
                                      {% thumbnail cartitem.product.ticket.event.product.main_image.picture "107x76" crop="50% 25%" as image %}
                                      <a href="{{ cartitem.product.ticket.event.product.get_absolute_url }}"><img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" /></a>
                                      {% endthumbnail %}
                                {% else %}
                                      {% thumbnail cartitem.product.ticket.event.product.main_image.picture "107x76" crop="center" as image %}
                                      <a href="{{ cartitem.product.ticket.event.product.get_absolute_url }}"><img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" /></a>
                                      {% endthumbnail %}
                                {% endif %}
                                </div>
                            </td>
                            <td class="basked_td_inf">
                                <div class="basked_td_inf_date">
                                    <span>{{ cartitem.product.ticket.datetime.datetime|date:"j E Y, l" }}</span>  {{ cartitem.product.ticket.datetime.datetime|date:"H:i" }}
                                </div>
                                <div class="basked_td_inf_txt">
                                    {{ cartitem.product.ticket.event.product.name }}
                                    {{ cartitem.product.ticket.event.product.short_description }}
                                </div>
                            </td>
                            <td class="basked_td_ticket">
                                <div class="basked_td_ticket_cont">
                                    {{ cartitem.product.ticket.seat.section.name }}
                                </div>
                                <p>{{ cartitem.product.ticket.seat.row }} Ряд, {{ cartitem.product.ticket.seat.col }} Место</p>
                            </td>
                            <td class="basked_td_price">
                                {{ cartitem.product.unit_price|currency }}
                            </td>
                            <td class="basked_td_del">
                                <form action="{% url satchmo_cart_remove %}" method="post" class="removeform" id="rmform-{{cartitem.id}}">
                                    <input type="hidden" name="cartitem" class="cartitem_id" value="{{ cartitem.id }}" />
                                    <a href="#"><img alt="" src="{{ media_url }}images/icon_del.png"></a>
                                </form>
                            </td>
                        </tr>
                </tbody>
            </table>
        </div>
        <div class="curve_bott"><div><span class="curve_gray"><!-- --></span></div></div>
    </div>
    {% endfor %}
    <div class="basket_total clearfix">
        <div class="back_shopping">
            <img alt="" src="{{ media_url }}images/icon_back_shopping.gif"> <a href="#">Вернуться к покупкам</a>
        </div>
        <div class="basket_total_bl">
            Итого в сумме: <span class="basket_total_price"><label id="cart_total">{{ cart|discount_cart_total:sale|wrap_currency }}</label></span>
        </div>
        </div>

        <div id=checkout_form>
        <h1 class="h1_h">Оформление покупки</h1>
        <form action="{% url satchmo_checkout-step1 %}" method="post" class="form_ormit_order clearfix">{% csrf_token %}
            <div class="ormit_order">
                <div class="ormit_order_1">

                    <label>Имя, Фамилия:</label>
                    <div class="input_2">
                        <div class="input_2_2">
                            {{ form.first_name }}
                        </div>
                    </div>
                    <br />

                    <label>Email:</label>
                    <div class="input_2">
                        <div class="input_2_2">
                            {{ form.email }}
                        </div>
                    </div>

                </div>

                <div class="ormit_order_2">
                    <label>Телефон:</label>
                    <div class="input_2">
                        <div class="input_2_2">
                            {{ form.phone }}
                        </div>
                    </div>
                    <br>

                    <label>Адрес доставки:</label>
                    <div class="input_2">
                        <div class="input_2_2">
                            {{ form.street1 }}
                        </div>
                    </div>
                </div>
                <div class="clear"><!-- --></div>
                <br />

                <label>Дополнительная информация:</label>

                <div class="textarea_top"><div><span><!-- --></span></div></div>
                <div class="textarea_body">
                    <div class="textarea_body2">
                        <div class="textarea_wrap">
                            <textarea class="textarea_ormit"></textarea>
                        </div>
                    </div>
                </div>
                <div class="textarea_bott"><div><span><!-- --></span></div></div>


                </div>
                <div class="ormit_order_call">
                    <div class="ormit_call_txt">Для заказа билетов Вы можете<br />просто позвонить нам</div>

                    <div class="ormit_call_tel">044 245 58 90</div>
                    <div class="ormit_call_time">Работаем с 9-00 до 21-00</div>
                </div>

                <br style="clear:both" />
                <input type="hidden" name="copy_address" value="on">
                <input type="hidden" name="paymentmethod" value="COD">
                <input type="submit" value="{% trans "Check out" %}"/>
            </form>
        </div>
    </div>

{% endif %}

{% endblock %}

{% block navtitle %}Ваша корзина{% endblock %}


