{% extends "shop/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load satchmo_util %}

{% block navbar %}
   <li class="first">{% trans "Home" %}</li>
{% endblock %}

{% block content %}
{% if recent %}
<div class="wrap_line">
    <ul class="feed reset_list clearfix">
    {% for product in recent %} 
    <li{% cycle '' '' ' class="last"' %}>
        <div class="feed_img">
              {% thumbnail product.main_image.picture 215x134 as image %}
              <a href="{{ product.get_absolute_url }}"><img src="{{ image }}" width="{{ image.width }}" height="{{ image.height }}" /></a>
        </div>
        <div class="feed_tag">
        {% if product.main_category %}
            <a href="{{ product.main_category.get_absolute_url }}">{{ product.main_category.translated_name }}</a> &nbsp; 23 мая
        {% else %}
            &nbsp;
        {% endif %}
        </div>
        <div class="feed_txt">
            <p><a href="{{ product.get_absolute_url }}">{{ product.translated_name }}</a></p>
        </div>
        </li>
    {% endfor %}
</ul>
</div>
{% endif %}
{% comment %}
    {% if is_paginated %}
    <div id = "pagination">
    <ul>
        {% if page_obj.has_previous %}
            <li> <a href="{{shop_base}}/?page={{page_obj.previous_page_number}}">{% trans "Previous" %}</a> </li>
        {% else %}
            <li> {% trans "Previous" %} </li>
        {% endif %}
        {% for page_number in paginator.num_pages|template_range %}
            {% ifequal page_number page_obj.number %}
                <li class="currentpage">{{page_number}}</li>
            {% else %}
                <li> <a href="{{shop_base}}/?page={{page_number}}">{{page_number}}</a> </li>
            {% endifequal %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li> <a href="{{shop_base}}/?page={{page_obj.next_page_number}}">{% trans "Next" %}</a></li>
        {% else %}
            <li> {% trans "Next" %} </li>
        {% endif %}
    </ul>
    </div>
    {% endif %}

{% endcomment %}
{% endblock %}
