{% extends "shop/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load satchmo_currency %}
{% load satchmo_checkout %}
{% load satchmo_order normalize_decimal %}
{% load local_tags %}

{% block title %}{{ block.super }}{% trans "Order History" %}{% endblock %}
{% block navtitle %}{% trans "Order History" %}{% endblock %}

{% block contentwraper %}

    {% if orders %}
            <div class="wraper_basket">

                <div class="basket_head_bl">
                    <table class="basket_head_tab">
                        <tr>
                            <th class="basket_td_number">Номер заказа</th>
                            <th class="basket_td_state">Статус</th>
                            <th class="basket_td_date">Дата</th>
                            <th class="basket_td_count">&nbsp;</th>
                            <th class="basket_td_info">Событие</th>
                            <th class="basket_td_ticket">Количество и места</th>
                            <th class="basket_td_price">Сумма заказа</th>
                        </tr>
                    </table>
                </div>

            {% for order in orders %}
                <div class="basket_bl">
                    <div class="curve_top"><div><span class="curve_gray"><!-- --></span></div></div>
                    <div class="curve_body basket_grey">
                        {% local_order_detail order %}
                    </div>
                    <div class="curve_bott"><div><span class="curve_gray"><!-- --></span></div></div>
                </div>
            {% endfor %}
            </div>            

    {% else %}
        <p>{% trans "You haven't made any orders yet." %}</p>
    {% endif %}

{% endblock %}

