{% extends "shop/base.html" %}
{% load i18n %}

{% block extra-head %}
{% include "contact/_contact_info_form.html" %}
{% endblock %}

{% block contentwraper %}
{% if form.non_field_errors %}
<h2>{% trans "Please correct the following error:" %}</h2>
{{ form.non_field_errors }}
{% endif %}

<form class="base_form" method="post" action="{% url satchmo_profile_update %}">{% csrf_token %}
    {{ form.next }}
    <div class="fieldblock complex">
        <h4 class="fieldset_name">{% trans "Basic Information" %}</h4>
        <div class="field odd">
            {{ form.first_name.label_tag }}
            {{ form.first_name }}
            {% if form.first_name.errors %}
                <span class='error'>{{ form.first_name.errors|join:", " }}</span>
            {% endif %}
        </div>
        <div class="field">
            {{ form.last_name.label_tag }}
            {{ form.last_name }}
            {% if form.last_name.errors %}
                <span class='error'>{{ form.last_name.errors|join:", " }}</span>
            {% endif %}
        </div>
        <div class="field odd">
            {{ form.email.label_tag }}
            {{ form.email }}
            {% if form.email.errors %}
                <span class='error'>{{ form.email.errors|join:", " }}</span>
            {% endif %}
        </div>
        <div class="field">
            {{ form.organization.label_tag }}
            {{ form.organization }}
            {% if form.organization.errors %}
                <span class='error'>{{ form.organization.errors|join:", " }}</span>
            {% endif %}
        </div>
        <div class="field odd">
            <label for="id_dob_month">{% trans "Birthday" %}</label>
            {{ form.dob }}
            {% if form.dob.errors %}
                <span class='error'>{{ form.dob.errors|join:", " }}</span>
            {% endif %}
        </div>
        <div class="field">
            {{ form.phone.label_tag }}
            {{ form.phone }}
            {% if form.phone.errors %}
                <span class='error'>{{ form.phone.errors|join:", " }}</span>
            {% endif %}
        </div>
        <div class="field wide inline">
            {{ form.newsletter }}
            {{ form.newsletter.label_tag }}
            {% if form.newsletter.errors %}
                <span class='error'>{{ form.newsletter.errors|join:", " }}</span>
            {% endif %}
        </div>
    </div>
    <div class="fieldblock complex">
        <h4 class="fieldset_name">{% trans "Shipping Information" %}</h4>
        <div style="display:none;" >{{ form.copy_address }}</div>
        <div class="field odd">
            {{ form.ship_addressee.label_tag }}<p class="help">{% trans "If different from the first and last names above" %}</p>
            {{ form.ship_addressee }}
            {% if form.ship_addressee.errors %}
                <span class='error'>{{ form.ship_addressee.errors|join:", " }}</span>
            {% endif %}
        </div>
        <div class="field">
            {{ form.street1.label_tag }}
            {{ form.street1 }}
            {% if form.street1.errors %}
                <span class='error'>{{ form.street1.errors|join:", " }}</span>
            {% endif %}
        </div>
        <div class="field odd">
            {{ form.ship_city.label_tag }}
            {{ form.ship_city }}
            {% if form.ship_city.errors %}
                <span class='error'>{{ form.ship_city.errors|join:", " }}</span>
            {% endif %}
        </div>
        <div class="field">
            {{ form.ship_postal_code.label_tag }}
            {{ form.ship_postal_code }}
            {% if form.ship_postal_code.errors %}
                <span class='error'>{{ form.ship_postal_code.errors|join:", " }}</span>
            {% endif %}
        </div>
    </div>
    <div class='controlset'>
        <a class='btn_lightred' href='#' onclick='jQuery(this).parents("form:first").trigger("submit");return false;'>
            <span>
                {% trans "Update profile" %}
            </span>
        </a>
    </div>
</form>
{% endblock %}

{% block navtitle %}{% trans "Your Profile" %}{% endblock %}
