{% load i18n satchmo_category satchmo_google satchmo_util satchmo_currency satchmo_discounts app_plugins normalize_decimal thumbnail %}
{% block doctype %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% endblock %}
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link href="{{ media_url }}css/main.css" rel="stylesheet" type="text/css" media="Screen, projection"/>        
        <link href="{{ media_url }}css/jscal2.css" rel="stylesheet" type="text/css" media="Screen, projection"/>
        <!--[if IE]>
            <link href="stylesheets/ie.css" rel="stylesheet" type="text/css" media="Screen, projection"/>
        <![endif]-->
       <script src="{{ media_url }}js/jquery-1.6.2.min.js" type="text/javascript"></script>
       <script src="{{ media_url }}js/jquery.carouFredSel-4.4.1-packed.js" type="text/javascript"></script>
       <script src="{{ media_url }}js/jquery.chainedSelects.js" type="text/javascript"></script>
       <script src="{{ media_url }}js/jscal2.js" type="text/javascript"></script>
       <script src="{{ media_url }}js/unicode-letter.js" type="text/javascript"></script>
       <script src="{{ media_url }}js/jscal2ru.js" type="text/javascript" ></script>
    {% block extra-head %}{% endblock %}
    {% block stylesheet %}{% endblock %}
    <title>{% block title %}{{ shop_name }}{% if pagetitle %}: {{ pagetitle }}{% endif %}{% endblock %}</title>
    {% plugin_point "page_head" %}
</head>
{% block body %}
<body{% if bodyid %} id="{{ bodyid }}"{% endif %}{% block bodyclass_wrapper %} class="{% block bodyclass %}main{% endblock %}"{% endblock %}>
    {% plugin_point "page_top" %}

    <div class="wraper_header">
        <div class="wraper_header2 wraper">
            <table class="header_tab">
                <tr>
                    <td class="hader_tab_menu">
                        <ul class="header_menu">
                            <li class="first"><a href="#">Новости и акции</a></li>
                            <li><a href="#">О нас</a></li>
                            <li><a href="#">Помощь</a></li>
                            <li><a href="#">Сотрудничество</a></li>
                            <li><a href="#">Оформление заказов</a></li>
                            <li><a href="#">Карта сайта</a></li>
                        </ul>
                    </td>



                    <td class="header_tab_reg">
                        <div class="header_bl_reg_top"><div><span><!-- --></span></div></div>
                        <div class="header_bl_reg ">

                            <a class="btn_red" href="{{ login_url }}">
                                <span>
                                    Вход
                                    <b>Вход</b>
                                </span>
                            </a>&nbsp;

                            <a class="btn_red" href="{% url registration_register %}">
                                <span>
                                     Регистрация
                                    <b> Регистрация</b>
                                </span>
                            </a>


                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="wraper wraper_base">
        <div class="wraper_top">
            <span class="w_t_l"><!-- --></span>
            <span class="w_t_r"><!-- --></span>
            <div class="wraper_top_bl">
                <div class="logo">
                    <a href="/"><img src="{{ media_url }}images/logo.png" alt="" /></a>
                    <div class="logo_txt">БИЛЕТЫ НА ВСЁ</div>
                </div>
                <div class="top_telephone">
                    <div class="telephone_number">044 245 58 90</div>
                    <div class="time_work">Работаем с 9-00 до 21-00</div>

                </div>

                <div class="dop_menu">
                    <ul class="menu_top reset_list">
                    {% for category in root_categories %}
                    <li class="level_top category_{{ category.slug }}">
                            <a href="{{ category.get_absolute_url }}">{{ category.translated_name }} <img src="{{ media_url }}images/icon_dopmenu.gif" alt="" /></a>
                            <ul>
                            {% for child in category.child.all %}
                                <li{% if forloop.last %} class="last_d"{% endif %}><a href="{{ child.get_absolute_url }}">{{ child.name }}</a></li>
                            {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                    </ul>
                </div>

            </div>
            <div class="search_top">
			    {% satchmo_search_form %}
            </div>
            <span class="w_t_l_b"><!-- --></span>
            <span class="w_t_r_b"><!-- --></span>
        </div>
        <div class="wraper_top_shadow"><div><span><!-- --></span></div></div>
        <div class="main_content clearfix">
            <div class="wraper_tab clearfix">
                {% block subnav %}
                <div class="tab_long tab_activ">
                    <div class="tab_activ_sh">
                    </div>
                </div>
                {% endblock %}
                <div class="tab_basket">
                    <div class="basket_count">
                        <a href="{% url satchmo_cart %}"><img style="vertical-align: middle;" alt="" src="{{ media_url }}images/icon_basket.gif"></a>
                        <b><a href="{% url satchmo_cart %}">{% blocktrans count counter=cart|length %}In your cart {{ counter }} ticket{% plural %}In your cart {{ counter }} tickets{% endblocktrans %}</a></b>
                    </div>
                </div>
            </div>

            {% block contentwraper %}
            <div class="colset colset_2">
                <div class="col col1">
                    {% block announcements %}
                    {% endblock %}
	                {% block content %}{% endblock %}
                    <div class="colset_22 clearfix">
                        {% block contentfooter %}
                        {% block contentfootercol1 %}
                        <div class="col1">
                        {% include "localsite/block_featured.html" %}
                        </div>
                        {% endblock %}

                        {% block contentfootercol2 %}
                        <div class="col2">
                        {% include "localsite/block_bestsellers.html" %}
                        </div>
                        {% endblock %}
                        {% endblock %}

                    </div>

                </div>

                {% block sidebar %}
                <div class="col col2">

                    {% block sidebar1 %}
                    {% if form_city and form_event %}
                        {% include "localsite/block_select_event_form.html" %}
                    {% else %}
                      {% with form_city=select_city_form form_event=select_event_form %}
                        {% include "localsite/block_select_event_form.html" %}
                      {% endwith %}
                    {% endif %}
                    {% endblock %} 
                    {% block sidebar2 %} 
                        {% include "localsite/block_banner.html" %}
                    {% endblock %} 

                    {% block sidebar3 %} 
                        {% include "localsite/block_subscription.html" %}
                    {% endblock %} 

                    {% block sidebar4 %} 
                        {% include "localsite/block_about_us.html" %}
                    {% endblock %} 
                    {% block sidebar5 %} 
                    {% endblock %} 

                    
                </div>
                {% endblock %}
            </div>
        </div>
        {% endblock %}

        <div class="wraper_footer">

            <div class="footer_top clearfix">
                <ul class="reset_list footer_menu">
                    <li><a href="#">Новости и акции</a></li>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Помощь</a></li>
                    <li><a href="#">Сотрудничество</a></li>
                    <li><a href="#">Оформление заказов</a></li>
                    <li class="last"><a href="#">Карта сайта</a></li>
                </ul>
                <div class="search_footer">
                    <form class="form_search_footer" action="">
                        <div class="search_bg">
                            <div class="search_bg2 search_prop">
                                <input class="input_search"  type="text"   />
                                <input class="submit_search"  type="submit" value="" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="footer_bl clearfix">
                <div class="footer_btn">
                    <ul class="reset_list ul_footer_btn">
                        <li><a href="#"><img src="{{ media_url }}images/icon_twiter.png" alt="" /></a></li>
                        <li><a href="#"><img src="{{ media_url }}images/icon_f_b.png" alt="" /></a></li>
                        <li><a href="#"><img src="{{ media_url }}images/icon_v_k.png" alt="" /></a></li>
                    </ul>
                </div>

			{% block sidebar-categories %}
			<div class="footer_dop_menu clearfix">
                {% for category in root_categories %}
                    <ul class="dop_menu_bott reset_list">
                        <li>
                        <a href="{{ category.get_absolute_url }}">{{ category.translated_name }}</a>
                            <ul>
                              {% for child in category.child.all %}
                              <li><a href="{{ child.get_absolute_url }}">{{ child.name }}</a></li>
                              {% endfor %}
                            </ul>
                        </li>
                    </ul>
                {% endfor %}

              </div>
			{% endblock sidebar-categories %}
            </div>

            <div class="footer_bott clearfix">
                <div class="footer_copyr">&copy; 2011 Show.ua.</div>
                <div class="footer_inf">
		{% block footer %}
                    Продажа билетов на любые мероприятия во всех городах Украины, беслпатная доставка!
		{% endblock %}
                </div>
                <div class="footer_creat">Дизайн сайта <img src="{{ media_url }}images/zemma.jpg" alt="" /></div>
            </div>

        </div>



    </div>
    <!-- /wraper_base -->

	{% block page-close %}
    {% block google-tracker %}
    {% if shop.options.GOOGLE.ANALYTICS.value %}
        {% show_tracker is_secure %}
    {% endif %}
    {% endblock %}
	{% endblock %}

    {#{% block navbar %}Breadcrumbs here{% endblock %}#}
    {% comment %}
		{% block sidebar-secondary %}
			{% block sidebar %}
			
			{% block sidebar-secondary-bottom %}
			{% plugin_point "sidebar_secondary_bottom" %}
			{% endblock %}
			{% endblock sidebar %}
		{% endblock sidebar-secondary %}

		{% block sidebar-primary %}
		{% url satchmo_product_recently_added as recenturl %}
		{% if recenturl %}<a href="{{ recenturl }}">{% trans "Recently Added" %}</a>{% endif %}
        {% url satchmo_category_index as category_index %}
        {% if category_index %} <a href="{{ category_index }}">{% trans "Category Index" %}</a><br /> {% endif %}
        {% url satchmo_quick_order as quick_order %}
        {% if quick_order %}<a href="{{ quick_order }}">{% trans "Quick Order" %}</a> {% endif %}
		{% plugin_point "sidebar_links" %}

	    {% if user.is_staff %}
		<a href="{% url admin:index %}" target="blank">{% trans "Admin" %}</a><br/>
		{% endif %}
	    {% if user.is_authenticated %}
		{% url satchmo_account_info as accounturl %}
        {% if accounturl %}<a href="{{ accounturl }}" target="blank">{% trans "Account Details" %}</a><br/>{% endif %}
        <a href="{{ logout_url }}?next={{request.path}}">{% trans "Log out" %}</a><br/>
	    {% else %}
        <a href="{{ login_url }}?next={{request.path}}">{% trans "Log in" %}</a><br/>
	    {% endif %}

		{% url satchmo_cart as carturl %}
	    {% if carturl %}<a href="{{ carturl }}">{% trans "Cart" %}</a>{% endif %}

	    {% if not cart.is_empty %}
            ({{ cart_count|normalize_decimal }} - {% if sale %}{{ cart|discount_cart_total:sale|currency }}{% else %}{{cart.total|currency}}{% endif%}) <br/>
            {% url satchmo_checkout-step1 as checkouturl %}
            {% if checkouturl %}<a href="{{ checkouturl }}">{% trans "Check out" %}</a>{% endif %}
	    {% endif %}
	
		{% plugin_point "shop_sidebar_actions" %}
    
		{% url satchmo_contact as contact_url %}
	    {% if contact_url %}<p><a href="{{ contact_url }}">{% trans "Contact Us" %}</a></p>{% endif %}

        {#{% satchmo_language_selection_form %}#}

		{% block sidebar-primary-bottom %}
		{% plugin_point "shop_sidebar_primary" %}
		{% endblock %}
		{% endblock sidebar-primary %}


    {% endcomment %}

</body>
{% endblock %}
</html>
