<script type="text/javascript">
$(function() {
        $('#id_datetime').change(function() {
            console.log($(this).attr('name'), $(this).val());
            var postdata = {csrfmiddlewaretoken: getCookie('csrftoken')};
            postdata[$(this).attr('name')] = $(this).val();
            postdata[$('#id_section').attr('name')] = $('#id_section').val();
            $.post('{% url ajax_select_ticket %}', postdata,
                function(data) {
					$('#id_ticket').html("");//clear old options
					data = eval(data);//get json array
					for (i = 0; i < data.length; i++)//iterate over all options
					{
					  for ( key in data[i] )//get key => value
					  {	
							$('#id_ticket').get(0).add(new Option(data[i][key],[key]), document.all ? i : null);
                      }
					}
					$("option:first", '#id_ticket').attr( "selected", "selected" );//select first option
                },
                'json'
            );
        });
        $('#id_section').change(function() {
            console.log($(this).attr('name'), $(this).val());
            var postdata = {csrfmiddlewaretoken: getCookie('csrftoken')};
            postdata[$('#id_datetime').attr('name')] = $('#id_datetime').val();
            postdata[$(this).attr('name')] = $(this).val();
            $.post('{% url ajax_select_ticket %}', postdata,
                function(data){
					$('#id_ticket').html("");//clear old options
					data = eval(data);//get json array
					for (i = 0; i < data.length; i++)//iterate over all options
					{
					  for ( key in data[i] )//get key => value
					  {	
							$('#id_ticket').get(0).add(new Option(data[i][key],[key]), document.all ? i : null);
                      }
					}
					$("option:first", '#id_ticket').attr( "selected", "selected" );//select first option
                },
                'json'
            );
        });
        $('#id_ticket').change(function() {
            var postdata = {csrfmiddlewaretoken: getCookie('csrftoken')};
            postdata[$(this).attr('name')] = $(this).val();
            $.post('{% url add_ticket %}', postdata,
                function(data) {
                    $("#cart_count").text(data.cart_count);
                    console.log(data);
                },
                'json'
            );
        });
});
</script>
{% for form in forms %}
    {{ form.as_p }}
{% endfor %}
