<div class="about_us_bl clearfix">
    <h2 class="heading_h2">Подписка на новости</h2>
    <div class="about_us_txt">
        На нашем сайте Вы можете<br /> приобрести любые билеты на все мероприятия!
    </div>

    <div class="about_us_col1">
        <div class="about_as_show"><img src="{{ media_url }}images/show_au.gif" alt="" /></div>
        <p>Этюд Микеланджело к фреске "Битва при Кашине" выставили на аукцион. За рисунок, выполненный
        около 1504 года, рассчитывают выручить до 8 млн. миллионов долларов. обнаженный юноша, причем
        особую ценность этой работе придает тот факт. оригинал "Битвы при Кашине" не сохранился.</p>
    </div>
    <div class="about_us_col2">
        <p>
            На рисунке изображен  юноша, причем особую ценность этой работе придает тот факт, что
            оригинал "Битвы при Кашине" Sony Pictures наняла Джона Лавина для создания сценария фильма
            по мотивам стратегической настольной игры Risk.
        </p>
        <a href="#">Детальнее</a>
    </div>

</div>
