{% load i18n thumbnail %}
<div class="heading_bg">
    <span class="h_t_l"><!-- --></span>
    <span class="h_t_r"><!-- --></span>
    <h2>Рекомендуем</h2>
    <span class="h_b_l"><!-- --></span>
    <span class="h_b_r"><!-- --></span>
</div>
<div class="wrap_line">
    <ul class="feed_list reset_list">
        {% for product in featured %}
            {% include "localsite/block_product_item2.html" %}
        {% endfor %}
    </ul>
    <div class="all_link">
        <br/><a href="{% url localsite_featured %}">{% trans "All Featured" %}</a><br/>
    </div>
</div>
