{% load i18n flatblock_tags %}
<form class='base_form order_form' action='{% url satchmo_checkout-step1 %}' method='post'>
    <div class='fieldblock complex'>
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <div class='field odd'>
            {{ form.first_name.label_tag }}
            {{ form.first_name }}
            {% if form.first_name.errors %}
                <span class='error'>{{ form.first_name.errors|join:", " }}</span>
            {% endif %}
        </div>
        <div class='field'>
            {{ form.phone.label_tag }}
            {{ form.phone }}
            {% if form.phone.errors %}
                <span class='error'>{{ form.phone.errors|join:", " }}</span>
            {% endif %}
        </div>
        <div class='field odd'>
            {{ form.email.label_tag }}
            {{ form.email }}
            {% if form.email.errors %}
                <span class='error'>{{ form.email.errors|join:", " }}</span>
            {% endif %}
        </div>
        <div class='field'>
            {{ form.street1.label_tag }}
            {{ form.street1 }}
            {% if form.street1.errors %}
                <span class='error'>{{ form.street1.errors|join:", " }}</span>
            {% endif %}
        </div>
        <div class='field wide'>
            {{ form.notes.label_tag }}
            {{ form.notes }}
            {% if form.notes.errors %}
                <span class='error'>{{ form.notes.errors|join:", " }}</span>
            {% endif %}
        </div>
        <div class='controlset'>
            <a class='btn_lightred' href='#' onclick='jQuery(this).parents("form:first").trigger("submit");return false;'>
                <span>
                  {% trans "Check out" %}
                </span>
            </a>
        </div>
    </div>
    <div class='noteblock'>
        <div class='ormit_call_txt'>
            Для заказа билетов Вы можете
            <br />
            просто позвонить нам
        </div>
        <div class='ormit_call_tel'>
            {% flatblock 'telephone_number' 3600 using "localsite/flatblock.html" %}
        </div>
        <div class='ormit_call_time'>
            {% flatblock 'time_work' 3600 using "localsite/flatblock.html" %}
        </div>
    </div>
</form>
