{% load i18n thumbnail cache %}
{% cache 3600 block_announcements %}
{% if announcements %} 
<script type="text/javascript" language="javascript">
    $(function() {
      var el = $('#carousel');
      var lis = el.children();
      var len = lis.length;
      lis.each( function(i) {
        $(this).attr('rel',i+1);
      } );
      $('#pager').text( 1+'/'+len );
                    el.carouFredSel({
                        prev: '#prev',
                        next: '#next',
                        pagination: {
                         container: "#pager",
                         anchorBuilder: function( nr, item ) {
                         }
                       },
                        scroll: {
                            pauseOnHover: true,
                            onBefore: function( oldItems, newItems, newSizes ) {
                            $('#pager').text( $(newItems).eq(0).attr('rel')+'/'+len );
                           }
                        }
                    });
    });
</script>

<div class="wraper_visual_list ">
    <div class="wraper_visual_list2 list_carousel">
        <ul class="reset_list" id="carousel">
            {% for announcement in announcements %}
            <li>
            {% if announcement.event.product.main_image.picture|is_portrait %}
                  {% thumbnail announcement.event.product.main_image.picture "637x298" crop="50% 25%" as image %}
                  <img src="{{ image.url }}" alt="" />
                  {% endthumbnail %}
            {% else %}
                  {% thumbnail announcement.event.product.main_image.picture "637x298" crop="center" as image %}
                  <img src="{{ image.url }}" alt="" />
                  {% endthumbnail %}
            {% endif %}
                <div class="visual_list_footer">
                    <div class="visual_list_footer2">
                        <h3><span class="f_date">{{ announcement.event.min_date|date:"j E" }}</span> {{ announcement.event.product.name }}</h3>
                        {{ announcement.text|linebreaksbr }}
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <ul class="visual_list_pager reset_list">
        <li><a id="prev" class="prev" href="#"> &lt; </a></li>
        <li id="pager"></li>
        <li><a id="next" class="next" href="#"> &gt; </a></li>
    </ul>
</div>
{% endif %}
{% endcache %}
