{% load i18n thumbnail cache %}
{% cache 3600 block_product_item product.id %}
<div class="feed_img">
    <div class="feed_img_wrap">
        {% if product.main_image.picture|is_portrait %}
              {% thumbnail product.main_image.picture "215x134" crop="50% 25%" as image %}
              <a href="{{ product.get_absolute_url }}"><img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" /></a>
              {% endthumbnail %}
        {% else %}
              {% thumbnail product.main_image.picture "215x134" crop="center" as image %}
              <a href="{{ product.get_absolute_url }}"><img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" /></a>
              {% endthumbnail %}
        {% endif %}
    </div>
    <div class="feed_img_bl">
        <div class="feed_img_bl_txt">
            <a href="{{ product.get_absolute_url }}#select_place">
                <span class="place_name">{{ product.event.hallscheme.hall.name }}</span>
                выбрать место и дату <img alt="" src="{{ media_url }}images/icon_arrow.gif"/>
            </a>
        </div>
    </div>
</div>
<div class="feed_tag">
    {% if product.main_category %}<a href="{{ product.main_category.get_absolute_url }}">{{ product.main_category.translated_name }}</a>{% endif %} &nbsp; {{ product.event.dates.all.0.datetime|date:"j E" }}
</div>
<div class="feed_txt">
    <p><a href="{{ product.get_absolute_url }}">{{ product.translated_name }}</a></p>
</div>
{% if product.event.all_prices.count > 1 %}
<div class="feed_price multiple">
    <div class="feed_price_cont">
        <span class="feed_price_line">от <em class="figure">{{ product.event.all_prices.0.price|stringformat:"i"  }}</em> грн<i class="icon_expand"></i></span>
    </div>
    <div class="feed_pop feed_price_pop">
        <div class="feed_pop_t">
            <div class="feed_pop_b">
                <i class="feed_pop_tl"></i><i class="feed_pop_tr"></i>
                <div class="feed_pop_ml">
                    <div class="feed_pop_mr">
                        <div class="feed_pop_content">
                            {% for price in product.event.all_prices %}
                            <div class="feed_price_line{% if forloop.first %} first{% endif %}">{% if forloop.first %}<span class="note">от</span>{% endif %}<em class="figure">{{ price.price|stringformat:"i"  }}</em> грн</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <i class="feed_pop_bl"></i><i class="feed_pop_br"></i>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="feed_price">
    <div class="feed_price_cont">
        <span class="feed_price_line"><em class="figure">{{ product.event.all_prices.0.price|stringformat:"i" }}</em> грн</span>
    </div>                                
</div>
{% endif %}
<div class="feed_order">
    <a class="btn_lightred" href="{{ product.get_absolute_url }}#select_place">
        <span>Заказать</span>
    </a>
</div>
{% endcache %}
