<div class="subscription_bl">
    <div class="curve_top"><div><span class="curve_gray"><!-- --></span></div></div>
    <div class="curve_body">
        <div class="subscription_bg">
            <div class="heading_icon clearfix">
                <h2 class="heading_h2"><span>Подписка на новости</span></h2>
                <div class="icon_h"><a href="{% url eventfeed %}"><img src="{{ media_url }}images/icon_rss.png" alt="" /></a></div>
            </div>
        </div>

        <form class="subscription_form clearfix" action="">
            <div class="subscription_input">
                <div class="input">
                    <div class="input2">
                        <input  type="text" />
                    </div>
                </div>
            </div>

            <div class="subscription_submit">
                <input type="submit" value="Ok" />
            </div>
        </form>
    </div>
    <div class="curve_bott"><div><span><!-- --></span></div></div>
</div>
