{% extends "localsite/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load satchmo_util %}

{% block navbar %}
   <li class="first">{% trans "Home" %}</li>
{% endblock %}

{% block content %}
{% if page.object_list %}
<div class="wrap_line">
    <ul class="feed reset_list clearfix">
    {% for product in page.object_list %} 
    <li{% cycle '' '' ' class="last"' %}>
        {% include "localsite/block_product_item.html" %}
    </li>
    {% endfor %}
</ul>
</div>
{% endif %}

    {% if page.has_other_pages %}
    <div id = "pagination">
    <ul>
        {% if page_obj.has_previous %}
            <li> <a href="{% url localsite_featured %}?page={{page_obj.previous_page_number}}">{% trans "Previous" %}</a> </li>
        {% else %}
            <li> {% trans "Previous" %} </li>
        {% endif %}
        {% for page_number in paginator.num_pages|template_range %}
            {% ifequal page_number page_obj.number %}
                <li class="currentpage">{{page_number}}</li>
            {% else %}
                <li> <a href="{% url localsite_featured %}?page={{page_number}}">{{page_number}}</a> </li>
            {% endifequal %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li> <a href="{% url localsite_featured %}?page={{page_obj.next_page_number}}">{% trans "Next" %}</a></li>
        {% else %}
            <li> {% trans "Next" %} </li>
        {% endif %}
    </ul>
    </div>
    {% endif %}

{% endblock %}

{% block subnav %}
<div class="tab">
    <h2 class="tab_nested">
        <a href="{% url satchmo_shop_home %}">НОВИНКИ</a>
    </h2>
</div>
<div class="tab">
    <h2 class="tab_nested">
        <a href="{% url satchmo_product_best_selling %}">БЕСТСЕЛЛЕРЫ</a>
    </h2>
</div>
<div class="tab tab_activ">
    <div class="tab_activ_sh1">
        <div class="tab_activ_sh2">
            <h1 class="h1_m"><a href="{% url localsite_featured %}">РЕКОМЕНДУЕМ</a></h1>
        </div>
    </div>
</div>
<div class="tab">
    <div class="tab_nested">
        <a class="how_order" href="{{ help_page.url }}#how_order">КАК ЗАКАЗАТЬ И ОПЛАТИТЬ?</a>
    </div>
</div>
{% endblock %}
