{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}

{% block content %}




                    <div class="wrap_line">
                        <ul id="event_list" class="feed reset_list clearfix">
                        {% for event in events %}
                        <li{% cycle '' '' ' class="last"' %}>
                            <div class="feed_img">
                                <div class="feed_img_wrap">
                                    {% if event.product.main_image.picture|is_portrait %}
                                          {% thumbnail event.product.main_image.picture "215x134" crop="50% 25%" as image %}
                                          <a href="{{ event.product.get_absolute_url }}"><img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" /></a>
                                          {% endthumbnail %}
                                    {% else %}
                                          {% thumbnail event.product.main_image.picture "215x134" crop="center" as image %}
                                          <a href="{{ event.product.get_absolute_url }}"><img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" /></a>
                                          {% endthumbnail %}
                                    {% endif %}
                                </div>
                                <div class="feed_img_bl">
                                    <div class="feed_img_bl_txt">
                                        <p>{{ event.hallscheme.hall.name }}</p>
                                        <a href="#">выбрать место и дату</a>
                                        <img alt="" src="{{ media_url }}images/icon_arrow.gif">
                                    </div>
                                </div>
                            </div>
                            <div class="feed_date">
                                <div class="feed_date_cont">
                                    {% for date in event.dates.all %}{% ifchanged date.datetime.date %}{% if forloop.first %}{% else %}</p>
                                    {% endif %}<p>{{ date.datetime|date:"j E" }}{% else %}, {% endifchanged %} {{ date.datetime|date:"H:i" }}{% if forloop.last %}</p>{% endif %}{% endfor %}
                                 </div>
                                <div class="feed_date_pop">
                                    {% for date in event.dates.all %}{% ifchanged date.datetime.date %}{% if forloop.first %}{% else %}</p>
                                    {% endif %}<p>{{ date.datetime|date:"j E" }}{% else %}, {% endifchanged %} {{ date.datetime|date:"H:i" }}{% if forloop.last %}</p>{% endif %}{% endfor %}
                                </div>
                            </div>
                            <div class="feed_txt">
                                <a href="#">{{ event.product.name }}</a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    </div>





{% endblock %}



{% block contentfooter %}
{% if events|length >= 13 %}
{% else %}
<div class="col1">
{% include "localsite/block_featured.html" %}
</div>

<div class="col2">
{% include "localsite/block_bestsellers.html" %}
</div>
{% endif %}
{% endblock %}

{% block sidebar3 %}
{% if events|length > 0 and events|length < 13 %}
    {% include "localsite/block_subscription.html" %}
{% endif %}
{% if events|length >= 13 %}
    {% include "localsite/block_bestsellers.html" %}
{% endif %}
{% endblock %}

{% block sidebar4 %}
{% if events|length >= 4 and events|length < 13 %}
    {% include "localsite/block_about_us.html" %}
{% endif %}
{% if events|length >= 13 %}
    {% include "localsite/block_featured.html" %}
{% endif %}
{% endblock %}
