{% extends "base.html"%}
{% load i18n %}

{% block extra-head %}
    <script src="/static/js/jquery-1.6.2.min.js" type="text/javascript"></script>

        <script src="/static/js/dynamic-formset.js" type="text/javascript"></script>

        {% endblock %}


{% block contentwraper %}
<div style="padding-bottom:40px;">
            <script type="text/javascript">
            <!--
            $(function () {
                $('.add-row').click(function() {
                    return addForm(this, 'dates');
                });
                $('.delete-row').click(function() {
                    return deleteForm(this, 'dates');
                })
            })
            //-->
            </script>

<form class="form_wizard" action="." method="post" >{% csrf_token %}
        {{ form.as_p_d }}
        {% for formset in formsets %}
        {{ formset.as_p_d }}
        {% endfor %}
<input type="submit" name="submit" value="{% trans "submit" %}" />
</form>
</div>
{% endblock %}

