{% extends "base.html" %}
{% load i18n %}
{% block extra-head %}
{{ form.media }}
{% for formset in formsets %}
{{ formset.media }}
{% endfor %}
{% endblock %}
{% block contentwraper %}
<div style="padding-bottom:40px;">
<form class="form_wizard" action="." method="post" >{% csrf_token %}
{{ wizard.management_form }}
        {{ form.as_p }}
        {% for formset in formsets %}
        {{ formset.as_p }}
        {% endfor %}

<input type="submit" name="submit" value="{% trans "submit" %}" />
</form>
</div>
{% endblock %}
